// TEXT
$orange-text: #FF6F13;
$gray-text: #34404b;
$descr-color: #495662;

$products-color--red:   #e12e3f;
$products-color--gray:  #34404b;
$products-color--blue:  #3ab3ff;
$products-color--green: #2fd967;

$separates-color: rgb(245, 245, 246);