@font-face {
	font-family: "HarmoniaSans";
	src: url("../fonts/HarmoniaSans/HarmoniaSansProCyr-Regular.otf");
}

@font-face {
	font-family: "HarmoniaSans-black";
	src: url("../fonts/HarmoniaSans/HarmoniaSansProCyr-Black.otf");
}

@font-face {
	font-family: "HarmoniaSans-semibd";
	src: url("../fonts/HarmoniaSans/HarmoniaSansProCyr-SemiBd.otf");
}

@font-face {
	font-family: "HarmoniaSans-bold";
	src: url("../fonts/HarmoniaSans/HarmoniaSansProCyr-Bold.otf");
}

@font-face {
	font-family: "HarmoniaSans-italic";
	src: url("../fonts/HarmoniaSans/HarmoniaSansProCyr-Italic.otf");
}