* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.2;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: #000; }

.container {
  padding: 0 10px;
  margin: 0 auto; }

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: inherit; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

button {
  padding: 0;
  outline: none;
  background: none;
  border: none; }

input:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal; }

img {
  display: block;
  max-width: 100%; }

@font-face {
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Regular"), url("../../assets/fonts/Gordita/Gordita Regular.woff") format("woff"); }

@font-face {
  font-family: "Gordita Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Thin"), url("../../assets/fonts/Gordita/Gordita Thin.woff") format("woff"); }

@font-face {
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Light"), url("../../assets/fonts/Gordita/Gordita Light.woff") format("woff"); }

@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Medium"), url("../../assets/fonts/Gordita/Gordita Medium.woff") format("woff"); }

@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Bold"), url("../../assets/fonts/Gordita/Gordita Bold.woff") format("woff"); }

@font-face {
  font-family: "Gordita Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Black"), url("../../assets/fonts/Gordita/Gordita Black.woff") format("woff"); }

@font-face {
  font-family: "Gordita Ultra";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Ultra"), url("../../assets/fonts/Gordita/Gordita Ultra.woff") format("woff"); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gordita Medium";
  color: #ffffff; }

p,
button,
a,
li,
input,
label,
span {
  font-family: "Gordita Regular";
  color: #ffffff; }

body {
  background: #0e0b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 4% 12% 0; }
  header nav .navigation {
    width: 20%; }
    header nav .navigation .links {
      z-index: 1005;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header nav .navigation .links li:hover {
        color: red !important; }
      header nav .navigation .links li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        header nav .navigation .links li a:hover > p {
          color: red !important;
          -webkit-transform: translate(10px, 0px);
          -ms-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
          -webkit-transition: ease 0.5s;
          -o-transition: ease 0.5s;
          transition: ease 0.5s; }
        header nav .navigation .links li a:hover > span {
          color: red !important;
          -webkit-transform: translate(10px, 0px);
          -ms-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
          -webkit-transition: ease 0.5s;
          -o-transition: ease 0.5s;
          transition: ease 0.5s; }
        header nav .navigation .links li a span {
          font-size: 12px;
          color: #b5b5b5;
          position: absolute;
          margin-left: 12px;
          margin-top: -5px; }
  header nav .part-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 30%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.phrase p {
  color: #b5b5b5;
  font-size: 12px; }

.absolute-phrase {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  position: absolute; }
  .absolute-phrase__left {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .absolute-phrase:first-child {
    top: 45%;
    left: 7%; }
  .absolute-phrase:last-child {
    top: 45%;
    right: 7%; }

main section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 25%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  main section .container .round {
    background: #fff;
    height: 5px;
    width: 5px;
    margin: 0 5px;
    border-radius: 100%; }
  main section .container .content {
    max-height: 50vh;
    max-width: 75%;
    overflow-x: hidden; }
    main section .container .content .slide img {
      max-width: 75%;
      max-height: 45vh; }
    main section .container .content section {
      min-height: 60vh; }
  main section .container h1 {
    font-size: 144px;
    line-height: 170px; }
    main section .container h1 span {
      font-size: 18px;
      margin-left: -45px;
      margin-top: -65px;
      position: absolute; }

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10%; }
  footer .contact a {
    width: 10%;
    text-decoration: underline; }
    footer .contact a:hover {
      color: red;
      -webkit-transform: translate(10px, 0px);
      -ms-transform: translate(10px, 0px);
      transform: translate(10px, 0px); }
  footer .contact .hr-wrapper {
    width: 90%;
    padding: 50px 100px; }
    footer .contact .hr-wrapper hr {
      background: #ffffff;
      height: 2px;
      border: none; }
  footer .contact .round-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .contact .round-wrapper .round {
      background: #ffffff;
      height: 5px;
      width: 5px;
      margin: 0 5px;
      border-radius: 100%; }

.cart-total {
  display: block;
  height: 2rem;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem; }

.slider .wfifty {
  width: 50% !important; }

.slider__text {
  position: absolute;
  left: calc(25rem + 3vw);
  top: calc(16rem + 3vw);
  z-index: 10;
  line-height: 1.075;
  color: #fff; }
  .slider__text .content-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 75%; }
    .slider__text .content-flex .part {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .slider__text h2 {
    font-size: 124px; }
  .slider__text span {
    font-size: 24px !important; }
  .slider__text .content-flex {
    padding: 30px 0; }
  .slider__text p {
    font-size: 54px;
    line-height: 80px; }
    .slider__text p.small {
      font-size: 14px;
      line-height: 15px;
      padding: 0 5px; }
    .slider__text p.grey {
      color: grey; }
  .slider__text a {
    font-size: 74px;
    line-height: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75%; }
    .slider__text a:hover > p {
      border-bottom: 1px solid #fff; }
    .slider__text a p {
      font-size: 74px;
      line-height: 124px;
      border-bottom: 1px solid transparent;
      -webkit-transition: ease-out 0.2s;
      -o-transition: ease-out 0.2s;
      transition: ease-out 0.2s; }
    .slider__text a img {
      height: 64px;
      color: #fff; }
  .slider__text .gallarey {
    position: absolute;
    left: calc(5rem + 3vw);
    top: calc(3rem + 3vw);
    z-index: 10001;
    line-height: 1.075;
    color: #fff;
    font-size: 94px;
    text-align: center;
    border-bottom: 1px solid transparent;
    -webkit-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s; }
    .slider__text .gallarey:hover {
      border-bottom: 1px solid #fff; }
  .slider__text .gallarey-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .slider__text-line {
    overflow: hidden; }

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 100px;
  bottom: 0px;
  z-index: 10; }

.slider__item {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.slider .bullet-item {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -80px;
  margin-left: -18px;
  color: transparent;
  font-size: 0px; }

.slider-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
  width: 15px; }
  .slider-bullet:hover > .bullet-item {
    font-size: 12px;
    color: #fff;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s; }
  .slider-bullet__text {
    color: #fff;
    font-size: 0.65rem; }
  .slider-bullet__line {
    background-color: transparent;
    height: 1px;
    width: 1rem; }

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.slide__img {
  position: relative;
  width: 25vw;
  height: 70vh;
  padding: 0;
  margin: 0;
  min-width: 12.5rem;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }
  .slide__img:first-child {
    top: 2rem; }
  .slide__img:last-child {
    bottom: 1rem; }
  .slide__img img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.cursor {
  position: fixed;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -o-transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  .cursor.active {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .cursor.menu-active {
    opacity: 1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .cursor.hovered {
    opacity: 1; }

.cursor-follower {
  position: fixed;
  border: 1px solid red;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -o-transition: 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
  .cursor-follower p {
    color: red;
    margin-top: 40px;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase; }
  .cursor-follower.active {
    opacity: 1;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3); }
  .cursor-follower.menu-active {
    opacity: 1;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3); }
  .cursor-follower.hovered {
    opacity: 1; }

.box {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #b5b5b5;
  z-index: 50;
  -webkit-transition: ease 5s;
  -o-transition: ease 5s;
  transition: ease 5s; }
  .box.complete {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    visibility: hidden;
    height: 0; }
  .box .percent-title {
    font-size: 144px;
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff; }
    .box .percent-title.complete {
      -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
      transform: translate(0, 50%);
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      visibility: hidden;
      font-size: 0px; }
  .box .percent {
    font-family: "Gordita Medium";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 44px; }
    .box .percent.complete {
      -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
      transform: translate(0, 50%);
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      visibility: hidden;
      font-size: 0px; }
  .box .water {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    background: transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .box .water_wave {
      width: 200%;
      position: absolute;
      bottom: 100%; }
      .box .water_wave_back {
        right: 0;
        fill: transparent;
        -webkit-animation: wave-back 1.4s infinite linear;
        animation: wave-back 1.4s infinite linear; }
      .box .water_wave_front {
        left: 0;
        fill: transparent;
        margin-bottom: -1px;
        -webkit-animation: wave-front 0.7s infinite linear;
        animation: wave-front 0.7s infinite linear; }

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); } }

@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0); } }

@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0); } }
