/*** Mixins & Default Styles ***/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** skrivaye scrollbar ***/

::-webkit-scrollbar {
  display: none;
}




/*** 1SECTOR ***/
header {
  width: 100vw;
  height: 100vh;
  background: #5661F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}





/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 140px;
  background: rgba(255, 255, 255, 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; 
}

/*** panel zmenshyetsia ***/

nav.navShadow {
  -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 100px;
  background: rgba(255, 255, 255, 0.95);
}



/*** bilya loga pro znikae***/

nav.navShadow #word-mark {
  opacity: 0;
}


/*** rozpolpzenie v nav ***/

#brand,
#menu,
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



/*** bilya loga ***/

#brand {
  padding-left: 40px;
}


/*** logo ***/



#logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}




/*** bilya loga ***/

#word-mark {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-left: 20px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}








/*** Menu Styles ***/


/*** rozpolozenie blockiv***/
#menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: center;
  padding-right: 40px;
  width: 100vw; 
}




/*** vidstan miz blockami ***/
.menu_item li {
  margin-left: 65px;
}

/*** blocki ***/
/*li a {
  width: 100px;
  height: 30px;
  background: #fff;
  display: block;
  border-radius: 90px;
}*/

.menu_item li a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #1b120f;
  padding: 12px 7px;
  border: 3px solid #1b120f; 
  transition: all 0.5s ease;
}

.menu_item li a:hover {
  border-radius: 150px;
  background: #1b120f;
  color: #fce38a;
}
















/*** main_section Styles ***/
#main_section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/background.jpg) no-repeat center top / cover;
  background-attachment:fixed;
}
























/*** Responsive Menu For Smaller Device ***/
/*@media screen and (max-width: 767px) {
  #menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #79EDFC;
    position: absolute;
    top: 160px;
    -webkit-transform: translate(, );
            transform: translate(, );
    -webkit-box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  ul.showMenu {
    height: 250px;
  }
  ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }

  li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    -webkit-transition: all 0.3s 0.1s;
    transition: all 0.3s 0.1s;
  }
  li:first-child, li:nth-child(2) {
    margin-top: 80px;
  }

  #head-line {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}



 gamburger 
#menu-toggle {
  width: 55px;
  height: 55px;
  background: #2ea8ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(90deg);
          transform: translateY(7px) rotate(90deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-90deg);
          transform: translateY(-7px) rotate(-90deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}
*/











/*** main_section Styles ***/


#main_section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/background.jpg) no-repeat center top / cover;
  background-attachment:fixed;
}

.title {
  text-align: center;
}

.title p {
  color: #1b120f;
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.title span {
  line-height: 1.2;
  font-size: 120px;
  font-family: 'Unica One', cursive;
  letter-spacing: 5px;
  display: block;
}






/*Секція про нас - доставка/оплата*/


#section00 {
  width: 100vw;
  height: calc(100vh - 100px);
  background: #ffe0a3;
  padding-top: 50px; 
}

.about_us {
  text-align: right;
  width: 33vw;
  float: left;
  padding-top: 50px;
}

.about_us_text {
  width: 31vw;
}


.about_us h2 {
  color: #1b120f;
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.about_us p {
  margin-top: 15px;
  color: #1b120f;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.del_and_pay {
  padding-top: 50px;
  text-align: left;
  width: 33vw;
  float: left;
}

.del_and_pay h2 {
  color: #1b120f;
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.del_and_pay p {
  text-align: center;
  width: 300px;
  margin-top: 25px;
  color: #1b120f;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hookah_title {
  width: 33vw;
  float: left;
  text-align: center;
}

.hookah {
  height: 300px;
}









/*Секція з товарами*/

#section01 {
  text-align: center;
  background: #1b120f;
/*  linear-gradient(
  rgba(0, 0, 0, 0.7), 
  rgba(0, 0, 0, 0.7)
  ),
  url(../img/background4.jpg) no-repeat center top / cover;*/
  width: 100vw;
  height: calc(100vh - 100px);
  padding-top: 50px;
}

.line_tabacco hr {
  border: 0;
  height: 3px;
  background: #fff;
  margin-left: 47.5vw;
  text-align: center;
  width: 50px;
}


#section01 h2 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  color: #fff;
}

.goods {
  position: relative;
  margin-top: 50px;
  position: absolute;
}

.good_1 {
  border-radius: 15px;
  background: #fff;
  margin-left: 6.5vh;
  float: left;
  height: 50vh;
  width: 247px;
  transition: all 0.3s ease;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.price {
  margin-left: 15px;
  margin-top: 14px;
  float: left;
}

.price h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #e4352b;
  font-size: 28px;
}

.good_buttom {
  float: right;
}

.good_buttom a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #fff;
  background: #000;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.good_buttom a:hover {
  background: #76b101;
  color: white;
  transform: translateY(-1px);
}


.good_1 h5 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.good_1:hover {
  height: 65vh;
  border-radius: 20px;
  box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 14px 10px rgba(0,0,0,0.22);
}

.about_goods  {
  color: #000;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
}

.good_1:hover ~ .about_goods  {
  color: #fff;
  background: #456345;
}

.tabacco_once {
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 10px;
  text-align: center;
  height: 350px;
}

.good_2 {
  border-radius: 15px;
  background: #fff;
  margin-left: 6.5vh;
  float: left;
  height: 50vh;
  width: 247px;
  transition: all 0.3s ease;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.good_2:hover {
  height: 65vh;
  border-radius: 20px;
  box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 14px 10px rgba(0,0,0,0.22);
}

.good_2 h5 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.good_3 {
  border-radius: 15px;
  background: #fff;
  margin-left: 6.5vh;
  float: left;
  height: 50vh;
  width: 247px;
  transition: all 0.3s ease;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.good_3:hover {
  height: 65vh;
  border-radius: 20px;
  box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 14px 10px rgba(0,0,0,0.22);
}

.good_3 h5 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.good_4 {
  border-radius: 15px;
  background: #fff;
  margin-left: 6.5vh;
  float: left;
  height: 50vh;
  width: 247px;
  transition: all 0.3s ease;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.good_4:hover {
  height: 65vh;
  border-radius: 20px;
  box-shadow: 0 25px 28px rgba(0,0,0,0.25), 0 14px 10px rgba(0,0,0,0.22);
}

.good_4 h5 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}


.goods_loading {
  position: relative;
  border: 5px solid red;
  margin-top: 50px;
}


/*Фуутер*/

#section02 {
  background: #022c43;
  width: 100vw;
  height: 50vh;
  padding-top: 50px;
  color: #f8f1f1;
}

.line_contact hr {
  margin-left: 46.5vw;
  size: 4;
  width: 5vw;
}

#section02 h2 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
}

.footer_item {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_about_us {
  float: left;
  width: 25vw;
}

.footer_about_us h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  padding-left: 50px;
}

.footer_about_us p {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding-left: 15px;
  width: 20vw;
}

.footer_tel{
  float: left;
  width: 25vw;
}

.footer_tel h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  padding-left: 50px;
}

.footer_tel p {
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding-left: 15px;
  width: 20vw;
}

.footer_shedule {
  float: left;
  width: 25vw;
}

.footer_shedule h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  padding-left: 50px;
}

.footer_shedule p {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  padding-left: 15px;
  width: 20vw;
}





.footer_menu {
  float: left;
  width: 25vw;
}

.footer_menu h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  padding-left: 50px;
  padding-bottom: 1vw;
}


.footer_menu li {
  margin-top: 2px;
  list-style-type: none;
}

.footer_menu li a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #f8f1f1;
  transition: all 0.1s ease;
}

.footer_menu li a:hover  {
  padding-left: 3px;
}

.footer_menu hr {
  transition: all 0.1s ease;
  color: #f8f1f1;
  size: 4;
  width: 50px;
}

.footer_menu li a:hover ~ .line hr {
  color: #f8f1f1;
  size: 4;
  width: 100px;
}

