* {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: #000;
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-weight: normal;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

span,
p,
a {
  margin: 0;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}














header nav {
  display: flex;
  justify-content: space-between; 
  padding: 30px 30px;
}

header nav .nav_item {
  min-width: 80px;
}

header nav .nav_item p {
  font-size: 26px;
  text-transform: uppercase;
}







#background-popup_window {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#background-popup_window #popup_window {
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}

#background-popup_window #popup_window .popup-container {
  padding: 30px 0;
}

#background-popup_window #popup_window .close {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  padding: 0 12px;
  margin: 10px;
  cursor:pointer;
}

#background-popup_window #popup_window .close:hover {
  background: rgba(102, 102, 102, 0.5);
}

#background-popup_window:target {
  display: block;
}












.main_section {
  background: #071739;
  color: #fff;
  min-height: 90vh;
}

.main_section .container {
  padding: 250px 100px;
}

.main_info {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.main_info-container {
  max-width: 400px;
}

.main_info-container h2 {
  font-size: 36px;
}

.main_info-container p {
  font-size: 20px;
  color: #b9d5fd;
}

.main_info-container .btn {
  margin-top: 20px;
}

.main_info-container .btn a {
  font-size: 28px;
  padding: 0 80px;
  border: 1px solid #fff;
  border-radius: 30px;
}

.develop {
  background: #071739;
  padding: 100px;
}












.about_us {
  background: #000;
  color: #fff;
  min-height: 40vh;
}


.about_us .container {
  padding: 100px 0;
}


.about_us .container h2 {
  font-size: 44px;
  text-align: center;
}

.about_us .container .about_us-info-container {
  display: flex;
  justify-content: space-between;
}

.about_us .container .about_us-info-container .about_us-info {
  max-width: 40vw;
  text-align: center;
}










.why_we {
  background: #000;
  color: #fff;
}

.why_we .container {
  padding: 100px 0;
}

.why_we .container h2{
  font-size: 44px;
  text-align: center;
}

.why_we .container .advantage-container {
  display: flex;
  justify-content: space-around;
}

.why_we .container .advantage-container .advantage {
  font-size: 24px;
  text-align: center;
  min-width: 195px;
}











.newsletter {
  background: #000;
  color: #fff;
}

.newsletter .container {
  padding: 100px 0;
}

.newsletter .container h2 {
  font-size: 44px;
  text-align: center;
}

.newsletter .container .letter {
  background: #071739;
  padding: 50px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.newsletter .container .letter h4 {
  font-size: 36px;
  color: #b9d5fd;
}

.newsletter .container .letter .modal_form {
  display: flex;
  flex-flow: column;
}

.newsletter .container .letter .modal_form input {
  border-radius: 5px;
  padding: 10px 25px;
  width: 350px;
  margin: 0 auto;
  border: 0;
  margin-top: 5px;
  color: #b9d5fd;
}

.newsletter .container .letter .modal_form input::-webkit-input-placeholder {
  color: #b9d5fd;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.newsletter .container .letter .modal_form .btn {
  margin-top: 20px;
}

.newsletter .container .letter .modal_form .btn a {
  font-size: 24px;
  padding: 0 80px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-transform: uppercase;
}












footer {
  background: #071739;
  color: #b9d5fd;
}

footer .container {
  padding: 20px 0;
}

footer .container .footer_info {
  display: flex;
  justify-content: space-around;
}

footer .container .copyrigt {
  text-align: center;
  padding: 10px 0;
  color: #709fdc;
}

footer .container .footer_info .footer_info-ithem {
  min-width: 210px;
  text-align: center;
}













.portfolio {
  background: #000;
  color: #fff;
}

.portfolio .container {
  padding: 100px 0;
}

.portfolio .container h1 {
  font-size: 56px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio .container p {
  font-size: 34px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: #709fdc;
}

.our_work {
  background: #000;
  color: #fff;
}

.our_work .container {
  padding: 100px 0;
}

.our_work .container h2 {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}

.work-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work {
  background: #709fdc;
  text-align: center;
  width: 32%;
  margin-top: 10px;
  padding: 70px 0px;
}

.work h3 {
  font-size: 34px;
}

.work h3 {
  font-size: 34px;
}







#background-wokr_window {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#background-wokr_window #wokr_window {
  width: 900px;
  height: 500px;
  padding: 15px;
  border-radius: 10px;
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}

#background-wokr_window #wokr_window .wokr_window-container {
  display: flex;
}

#background-wokr_window #wokr_window .wokr_window-container .wokr_window-image {
  width: 50%;
}

#background-wokr_window #wokr_window .wokr_window-container .wokr_window-info {
  width: 50%;
}

#background-wokr_window #wokr_window .wokr_window-container .wokr_window-info h3 {
  font-size: 34px;
  text-align: center;
}

#background-wokr_window #wokr_window .wokr_window-container .wokr_window-info p {
  color: #709fdc;
}

#background-wokr_window #wokr_window .wokr_window-container .wokr_window-info .btn {
  margin-top: 20px;
  text-align: center;
}

#background-wokr_window #wokr_window .wokr_window-container .wokr_window-info .btn a {
  font-size: 18px;
  padding: 0 50px;
  border: 1px solid #709fdc;
  color: #709fdc;
  border-radius: 30px;
  text-transform: uppercase;
}

#background-wokr_window #wokr_window .close {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  padding: 0 12px;
  margin: 10px;
  cursor:pointer;
}

#background-wokr_window #wokr_window .close:hover {
  background: rgba(102, 102, 102, 0.5);
}

#background-wokr_window:target {
  display: block;
}











.page_about-us {
  background: #000;
  color: #fff;
}

.page_about-us .container {
  padding: 100px 0;
}

.page_about-us .container h1 {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}

.page_about-us .container p {
  font-size: 24px;
  text-align: center;
}












.why_aurora {
  background: #000;
  color: #fff;
}

.why_aurora .container {
  padding: 100px 0;
}

.why_aurora .container h2 {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}

.why_aurora .container .why_aurora-container {
  padding: 30px 0;
}

.why_aurora .container .why_aurora-container p {
  font-size: 24px;
  text-align: center;
  max-width: 50%;
}














.contact_with-us {
  background: #000;
  color: #fff;
}

.contact_with-us .container {
  padding: 100px 0;
}

.contact_with-us .container h1 {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}

.contact_with-us .container .input_modal {
  display: flex;
  justify-content: space-around;
}

.contact_with-us .container .input_modal .input_data {
  width: 40%;
}

.contact_with-us .container .input_modal .input_data .btn {
  width: 182px;
  margin: 30px auto 0 auto;
}

.contact_with-us .container .input_modal .input_data .btn a {
  font-size: 18px;
  padding: 0 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-transform: uppercase;
}

.contact_with-us .container .input_modal .input_data .top_input_data input {
  border-radius: 5px;
  padding: 10px 25px;
  border: 0;
  margin-top: 5px;
  color: #b9d5fd;
}

.contact_with-us .container .input_modal .input_data .top_input_data input::-webkit-input-placeholder {
  color: #b9d5fd;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.contact_with-us .container .input_modal .input_data .top_input_data input:nth-child(1) {
  width: 39%;
}

.contact_with-us .container .input_modal .input_data .top_input_data input:nth-child(2) {
  width: 59%;
}

.contact_with-us .container .input_modal .input_data .bottom_input_data {
  display: flex;
  flex-direction: column;
}

.contact_with-us .container .input_modal .input_data .bottom_input_data input {
  border-radius: 5px;
  padding: 10px 25px;
  border: 0;
  width: 99%;
  margin-top: 5px;
  color: #b9d5fd;
}

.contact_with-us .container .input_modal .input_data .bottom_input_data input::-webkit-input-placeholder {
  color: #b9d5fd;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.contact_with-us .container .input_modal .input_data .bottom_input_data input:nth-child(2) {
  height: 95px;
}


.contact_with-us .container .input_modal .contact_with-us-info {
  width: 40%;
}

.contact_with-us .container .input_modal .contact_with-us-info li {
  padding: 10px 0;
}

.contact_with-us .container .input_modal .contact_with-us-info li p {
  font-size: 22px;
  color: #b9d5fd;
}






.price {
  background: #000;
  color: #fff;
}

.price .container {
  padding: 100px 0;
}

.price .container h1 {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
}

.price .container p {
  font-size: 24px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  color: #709fdc;
}

.price .container .price-btn {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

.price .container .price-btn {
  display: flex;
}

.price .container .price-btn .btn {
  margin-top: 30px;
}

.price .container .price-btn .btn a {
  font-size: 18px;
  padding: 0 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-transform: uppercase;
}








.price-design {
  background: #000;
  color: #fff;
}

.price-design .container {
  padding: 100px 0;
}

.price-design .container h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.price-design .container .price-design-container {
  background: #111111;
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.price-design .container .price-design-container .price-design-info p {
  font-size: 24px;
  color: #709fdc;
}

.price-design .container .price-design-container .price-design-info .btn {
  margin-top: 15px;
}

.price-design .container .price-design-container .price-design-info .btn a {
  font-size: 18px;
  padding: 0 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-transform: uppercase;
}





.price-design-services {
  background: #000;
  color: #fff;
}

.price-design-services .container {
  padding: 100px 0;
}

.price-design-services .container h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.price-design-services .container .price-design-services-container {
  display: flex;
  justify-content: space-around;
}

.price-design-services .container .price-design-services-container .service {
  width: 30%;
  text-align: center;
}

.price-design-services .container .price-design-services-container .service h3 {
  font-size: 32px;
  text-transform: uppercase;
}

.price-design-services .container .price-design-services-container .service span {
  font-size: 22px;
  text-transform: uppercase;
  color: #709fdc;
}





































