* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.2;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: #000; }

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: inherit; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

button {
  padding: 0;
  outline: none;
  background: none;
  border: none; }

input:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal; }

img {
  display: block;
  max-width: 100%; }

@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Regular"), url("../fonts/Montserrat/Montserrat-Regular.otf") format("otf"); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Regular" !important; }

p,
button,
a,
li,
input,
label,
span {
  font-family: "Montserrat Regular" !important; }

section {
  padding: 50px 0; }

header .top_bar {
  background: url("/assets/images/bg-top_bar.png") no-repeat center top/cover;
  color: #fff; }

main section#main {
  background: url("/assets/images/bg-main_section.png") no-repeat center top/cover;
  min-height: 100vh; }

main section#advantages .advantages_name-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0; }
  main section#advantages .advantages_name-wrapper .container .advantages-item {
    border: 1px solid #bbbbbb;
    padding: 25px;
    margin: 0 15px; }
    main section#advantages .advantages_name-wrapper .container .advantages-item p {
      font-size: 25px; }
      main section#advantages .advantages_name-wrapper .container .advantages-item p span {
        color: #134032; }

main section#advantages .advantages_info-wrapper {
  background: url("/assets/images/bg-thith-section-4.png") no-repeat center top/cover;
  min-height: 60vh; }
  main section#advantages .advantages_info-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

main section#how_it_work h2 {
  text-align: center;
  padding: 20px 0; }

main section#how_it_work .work_select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  main section#how_it_work .work_select-wrapper .work_select-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #bbbbbb;
    padding: 3px 140px; }
    main section#how_it_work .work_select-wrapper .work_select-item img {
      margin: 0 15px 0 auto; }

main section#how_it_work .work_select_info-wrapper .work_select_info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main section#how_it_work .work_select_info-wrapper .work_select_info-item img {
    margin: 15px; }
  main section#how_it_work .work_select_info-wrapper .work_select_info-item .video_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

main section#professional_response .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main section#professional_response .container .professional-video_response {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

main section#strong_and_durable .container {
  padding: 100px 0; }
  main section#strong_and_durable .container .strong_and_durable-heading {
    text-align: center; }
  main section#strong_and_durable .container .zhilet-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    main section#strong_and_durable .container .zhilet-wrapper .zhilet-item {
      max-width: 30%; }
  main section#strong_and_durable .container .tissue-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    main section#strong_and_durable .container .tissue-wrapper .tissue-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

main section#comfortable_and_safe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

main section#video_reports {
  background: #fbfbfb;
  padding: 50px 0; }
  main section#video_reports h2 {
    text-align: center; }
  main section#video_reports .video-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main section#video_reports .video-wrapper img {
      width: 22%;
      margin: 15px 0; }

main section#customer_reviews .clients_reviews-item .clients-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

main section#customer_reviews .clients_reviews-item .clients-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

main section#not_suitable .not_suitable-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  main section#not_suitable .not_suitable-wrapper .not_suitable-item {
    max-width: 30%;
    margin: 1%;
    text-align: center; }

main section#increase_price .increase_price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

main section#gallarey .gallarey-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  main section#gallarey .gallarey-wrapper img {
    width: 25%; }

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer .container .visa-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
