@import 'add-ons/_variables';
@import 'add-ons/_standart';
@import 'add-ons/_fonts';

section {
  padding: 50px 0;
}

header {
  .top_bar {
    background: url('../images/bg-folder/bg-top_bar.png') no-repeat center
      top/cover;
    color: #fff;
    min-height: 100px;
    padding: 10px 0;

    @media (max-width: 425px) {
      background: url('../images/bg-folder/mobile-bg-top_bar.png') no-repeat
        center top/cover;
    }

    .container {
      display: flex;
      align-items: center;

      @media (max-width: 425px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      h2 {
        font-size: 25px;
        max-width: 470px;

        @media (max-width: 425px) {
          font-size: 15px;
          text-align: center;
          max-width: 65%;
        }

        span {
          font-weight: bold;

          &:first-child {
            background: #134032;
            font-size: 29px;

            @media (max-width: 425px) {
              font-size: 16px;
            }
          }
        }
      }

      .timer {
        background: url('../images/bg-folder/timer-background.png') no-repeat
          center top/cover;
        width: 266px;
        height: 84px;
        display: flex;
        padding: 20px 0 0 65px;
        text-align: center;
        margin: 10px 0px;

        .timer-item {
          margin-right: 30px;
        }

        p {
          color: #134032;
          font-weight: bold;
          font-size: 24px;
        }

        span {
          font-size: 12px;
          font-weight: normal;
          color: #000;
        }
      }

      img {
        margin: 0 20px;

        @media (max-width: 425px) {
          display: none;
        }
      }

      a {
        .btn {
          background: rgb(50, 116, 97);
          background: linear-gradient(
            180deg,
            rgba(50, 116, 97, 1) 0%,
            rgba(23, 46, 45, 1) 100%
          );
          padding: 24px 40px;
          border-radius: 50px;
          font-weight: bold;
          font-weight: 18px;
          text-transform: uppercase;
          -webkit-box-shadow: -1px 44px 20px -27px rgba(23, 51, 45, 1);
          -moz-box-shadow: -1px 44px 20px -27px rgba(23, 51, 45, 1);
          box-shadow: -1px 44px 20px -27px rgba(23, 51, 45, 1);

          @media (max-width: 425px) {
            padding: 14px 20px;
          }
        }
      }
    }
  }
}

main.index {
  section#main {
    background: url('../images/bg-folder/bg-main_section.png') no-repeat center
      top/cover;
    min-height: 850px;

    @media (max-width: 425px) {
      background: url('../images/bg-folder/mobile-bg-main_section.png')
        no-repeat center top/cover;
      text-align: center;
    }

    .logo {
      margin: 0 0 55px 0;
    }

    img {
      @media (max-width: 425px) {
        margin: 0 auto;
      }
    }

    .info_country {
      display: flex;
      padding: 5px;

      @media (max-width: 425px) {
        flex-direction: column-reverse;
      }

      p {
        display: flex;
        margin: 0 5px;

        @media (max-width: 425px) {
          justify-content: center;
        }
      }

      .black-bg {
        padding: 5px;
        background: #000;
        color: #fff;
        text-transform: uppercase;

        @media (max-width: 425px) {
          justify-content: center;
        }
      }
    }

    h1 {
      font-size: 45px;
      max-width: 750px;
      font-weight: bold;
      padding: 15px 0;

      @media (max-width: 425px) {
        font-size: 24px;
      }

      span {
        color: #134032;
      }
    }

    p {
      font-size: 20px;
      max-width: 750px;

      @media (max-width: 425px) {
        font-size: 15px;
      }

      span {
        font-weight: bold;
      }
    }

    .watch_video {
      display: flex;
      align-items: center;
      margin: 45px 0;

      p {
        margin: 0 15px;
        text-decoration: underline;

        @media (max-width: 425px) {
          display: none;
        }

        span {
          font-weight: bold;
        }
      }
    }
  }

  section#advantages {
    .advantages_name-wrapper {
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0;

        @media (max-width: 425px) {
          flex-wrap: wrap;
        }

        .advantages-item {
          border: 1px solid #bbbbbb;
          padding: 25px;
          margin: 0 10px;
          width: 23%;

          &:hover {
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          }

          &.active {
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          }

          @media (max-width: 425px) {
            width: 45%;
            margin: 15px 0;
          }

          p {
            font-size: 22px;
            font-weight: bold;

            @media (max-width: 425px) {
              font-size: 14px;
            }

            span {
              color: #134032;
            }
          }
        }
      }
    }

    .advantages_info-wrapper {
      background: url('../images/bg-folder/bg-thith-section-1.png') no-repeat
        center top/cover;
      min-height: 630px;
      padding: 65px 0;

      @media (max-width: 425px) {
        background: url('../images/bg-folder/mobile-bg-thith-section-1.png')
          no-repeat center top/cover;
        padding: 0;
      }

      .container {
        display: flex;
        justify-content: flex-end;

        .advantages_info-item {
          width: 50%;
          display: none;

          &.active {
            display: block;
          }

          @media (max-width: 425px) {
            width: 100%;
          }

          h3 {
            font-size: 35px;
            font-weight: bold;

            @media (max-width: 425px) {
              font-size: 20px;
            }

            span {
              color: #134032;
            }
          }

          p {
            @media (max-width: 425px) {
              font-size: 14px;
            }

            span {
              font-weight: bold;
            }
          }

          .detail_info-wrapper {
            display: flex;
            flex-wrap: wrap;

            .detail_info-item {
              max-width: 50%;
              margin: 15px 0;

              img {
                margin: 5px 0;
              }
            }
          }
        }
      }
    }
  }

  section#how_it_work {
    h2 {
      text-align: center;
      font-size: 50px;
      font-weight: bold;

      @media (max-width: 425px) {
        font-size: 25px;
      }

      span {
        color: #134032;
      }
    }

    .work_select-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 50px 0;

      @media (max-width: 425px) {
        flex-direction: column;
      }

      .work_select-item {
        display: flex;
        align-items: center;
        border: 1px solid #bbbbbb;
        padding: 3px 140px;
        width: 50%;

        &:hover {
          box-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        }

        &.active {
          box-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 425px) {
          padding: 10px;
          width: 80%;
        }

        img {
          margin: 0 15px 0 auto;

          @media (max-width: 425px) {
            margin: 0 10px 0 0;
          }
        }
      }
    }

    .work_select_info-wrapper {
      .work_select_info-item {
        display: none;

        &.active {
          display: flex;
        }

        &:first-child {
          .part {
            min-height: 382px;

            &:first-child {
              width: 50%;

              @media (max-width: 425px) {
                width: 100%;
              }
            }

            &:first-child {
              img {
                height: 382px;
              }

              @media (max-width: 425px) {
                display: none;
              }
            }
          }
        }

        &:last-child {
          .part {
            &:first-child {
              width: 220%;
              padding: 30px;

              @media (max-width: 425px) {
                width: 100%;
              }

              @media (max-width: 425px) {
                display: none;
              }
            }
          }
        }

        h3 {
          font-size: 35px;
          font-weight: bold;
        }

        span {
          font-weight: bold;
        }

        .text_info {
          padding: 0 30px;

          p {
            padding: 5px 0;
          }
        }

        .video_info {
          display: flex;

          @media (max-width: 425px) {
            flex-wrap: wrap;
          }

          img {
            margin-left: 30px;

            @media (max-width: 425px) {
              margin-left: 20px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  section#professional_response {
    .container {
      display: flex;

      @media (max-width: 425px) {
        flex-wrap: wrap;
      }

      .part-image {
        width: 350%;
      }

      h3 {
        font-size: 35px;
        font-weight: bold;

        @media (max-width: 425px) {
          font-size: 20px;
        }
      }

      .green-color {
        color: #134032;
        font-weight: bold;
      }

      .vk-link {
        display: flex;
        align-items: center;

        img {
          margin: 0 5px 0 0;
        }

        p {
          text-decoration: underline;
        }
      }

      .message {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        padding: 25px;
        margin: 25px;

        span {
          font-weight: bold;
        }
      }

      .professional-video_response {
        display: flex;
        margin: 0 0 0 25px;

        @media (max-width: 425px) {
          flex-wrap: wrap;
        }

        img {
          margin: 0 10px 0 0;

          &:nth-child(1) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(2) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(3) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(4) {
            @media (max-width: 425px) {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }

  section#strong_and_durable {
    background: #fbfbfb;

    .container {
      padding: 100px 0;

      @media (max-width: 425px) {
        padding: 30px 0;
      }

      .strong_and_durable-heading {
        text-align: center;

        .country_wrapper {
          display: flex;
          justify-content: center;

          p {
            font-size: 18px;
          }
        }

        h2 {
          font-size: 50px;
          font-weight: bold;

          @media (max-width: 425px) {
            font-size: 25px;
          }

          span {
            color: #134032;
          }
        }

        .strong-center-p {
          margin: 0 auto;
        }

        p {
          font-size: 25px;
          max-width: 650px;

          @media (max-width: 425px) {
            font-size: 14px;
          }

          span {
            font-weight: bold;
          }
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: underline;
          margin: 25px 0;

          img {
            margin: 0 10px 0 0;
          }
        }
      }

      .zhilet-wrapper {
        display: flex;

        @media (max-width: 425px) {
          flex-direction: column;
        }

        .zhilet-item {
          width: 25%;

          @media (max-width: 425px) {
            display: none;
          }

          span {
            font-weight: bold;
          }

          .zhilet-item-info {
            &:last-child {
              padding: 90px 0 0 0;
            }
          }

          &:first-child {
            text-align: right;

            .zhilet-item-info {
              img {
                margin-left: auto;
              }
            }
          }
        }

        .zhilet-img {
          width: 50%;

          @media (max-width: 425px) {
            width: 90%;
            margin: 0 auto;
          }
        }
      }

      .tissue-container {
        padding: 20px;
        margin: 50px 0;
        min-height: 332px;
        background: url('../images/bg-folder/bg-tissue.png') no-repeat center
          top/cover;

        .tissue-wrapper {
          display: flex;
          justify-content: space-between;

          @media (max-width: 425px) {
            flex-direction: column;
          }

          .tissue-item {
            width: 49%;

            @media (max-width: 425px) {
              width: 100%;
              margin: 10px 0;
            }

            .tissue-info {
              display: flex;
              font-size: 18px;

              span {
                font-weight: bold;
              }
            }
          }
        }

        .test-strength {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          text-decoration: underline;

          p {
            margin: 0 0 0 15px;
            max-width: 330px;
          }
        }
      }
    }
  }

  section#comfortable_and_safe {
    .container {
      display: flex;

      h2 {
        font-size: 50px;
        font-weight: bold;

        @media (max-width: 425px) {
          font-size: 25px;
        }

        span {
          color: #134032;
        }
      }

      p {
        font-size: 18px;

        @media (max-width: 425px) {
          font-size: 14px;
        }

        span {
          font-weight: bold;
        }
      }

      .comfortable-advantages {
        .advantages {
          display: flex;
          margin: 15px 0;

          img {
            margin: 0 10px 0 0;
          }
        }
      }

      .safe-wrapper {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 425px) {
          flex-direction: column;
        }

        .safe-item {
          display: flex;
          align-items: center;
          width: 50%;
          margin: 15px 0;

          img {
            margin: 0 10px 0 0;
          }
        }
      }

      .comfortable-image {
        width: 110%;
        margin: auto;

        @media (max-width: 425px) {
          position: absolute;
          z-index: -1;
          margin-top: 350px;
          right: 0;
          max-width: 250px;
        }
      }
    }
  }

  section#video_reports {
    background: #fbfbfb;
    padding: 50px 0;

    h2 {
      font-size: 50px;
      font-weight: bold;
      text-align: center;

      @media (max-width: 425px) {
        font-size: 25px;
      }

      span {
        color: #134032;
      }
    }

    .video-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 425px) {
        flex-direction: column;
      }

      img {
        width: 22%;
        margin: 15px 0;

        &:nth-child(1) {
          @media (max-width: 425px) {
            display: block;
            width: 90%;
          }
        }

        &:nth-child(2) {
          @media (max-width: 425px) {
            display: block;
            width: 90%;
          }
        }

        &:nth-child(3) {
          @media (max-width: 425px) {
            display: none;
          }
        }

        &:nth-child(4) {
          @media (max-width: 425px) {
            display: none;
          }
        }

        &:nth-child(5) {
          @media (max-width: 425px) {
            display: none;
          }
        }

        &:nth-child(6) {
          @media (max-width: 425px) {
            display: none;
          }
        }

        &:nth-child(7) {
          @media (max-width: 425px) {
            display: none;
          }
        }

        &:nth-child(8) {
          @media (max-width: 425px) {
            display: none;
          }
        }
      }
    }
  }

  section#customer_reviews {
    h2 {
      font-size: 50px;
      font-weight: bold;
      text-align: center;

      @media (max-width: 425px) {
        font-size: 25px;
      }

      span {
        color: #134032;
      }
    }

    a {
      .btn {
        border: 1px solid #184a00;
        color: #184a00;
        padding: 17px 38px;
        border-radius: 50px;
        font-weight: bold;
        max-width: 190px;
        margin: 0 auto;

        @media (max-width: 425px) {
          padding: 14px 20px;
        }
      }
    }

    .clients_reviews-item {
      border: 1px solid #bbbbbb;
      padding: 25px;
      margin: 25px 0;

      .clients-name {
        display: flex;
        align-items: center;

        img {
          margin: 0 10px;
        }

        .date {
          display: flex;
          padding: 10px 0;
        }
      }

      .clients-image {
        display: flex;
        margin: 10px 0;

        @media (max-width: 425px) {
          flex-wrap: wrap;
        }

        img {
          margin: 0 5px;

          &:nth-child(1) {
            @media (max-width: 425px) {
              display: block;
              width: 90%;
            }
          }

          &:nth-child(2) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(3) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(4) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(5) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(6) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(7) {
            @media (max-width: 425px) {
              display: none;
            }
          }

          &:nth-child(8) {
            @media (max-width: 425px) {
              display: none;
            }
          }
        }
      }
    }
  }

  section#not_suitable {
    h2 {
      font-size: 50px;
      font-weight: bold;
      text-align: center;

      @media (max-width: 425px) {
        font-size: 25px;
      }

      span {
        color: #134032;
      }
    }

    p {
      padding: 15px 0;

      span {
        font-weight: bold;
      }
    }

    .not_suitable-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: 425px) {
        flex-direction: column;
      }

      .not_suitable-item {
        max-width: 30%;
        margin: 1%;
        text-align: center;

        @media (max-width: 425px) {
          max-width: 90%;
        }
      }
    }
  }

  section#increase_price {
    background: #fbfbfb;

    h2 {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin: 35px 0;

      @media (max-width: 425px) {
        font-size: 25px;
      }

      span {
        color: #134032;
      }
    }

    .increase_price-wrapper {
      display: flex;
      justify-content: space-between;

      @media (max-width: 425px) {
        flex-wrap: wrap;
      }

      .part {
        max-width: 48%;

        @media (max-width: 425px) {
          max-width: 90%;
        }
      }

      .increase_price-image {
        .top-wrapper {
          display: flex;

          .top {
            margin: 0 8px;

            img {
              margin: 16px 0;
            }
          }
        }

        .bottom {
          margin: 10px 0 0 78px;
          display: flex;

          @media (max-width: 425px) {
            display: none;
          }

          img {
            margin: 0 5px;
          }
        }
      }

      .increase-timer {
        h3 {
          font-size: 25px;
          font-weight: bold;
          text-align: center;
          margin: 35px 0 0 0;

          span {
            color: #134032;
          }
        }

        .timer-wrapper {
          display: flex;
          text-align: center;
          justify-content: space-around;
          padding: 25px 0;

          .timer-item {
            padding: 15px 0;
            width: 15%;
            border: 1px solid #bbbbbb;

            @media (max-width: 425px) {
              width: 20%;
            }

            p {
              font-weight: bold;
              font-size: 30px;

              span {
                font-weight: normal;
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .delivery-info-wrapper {
      .delivery-info-item {
        display: flex;
        padding: 20px 0;

        h4 {
          font-size: 25px;
          font-weight: bold;
          color: #134032;
          padding: 5px 0;
        }

        img {
          min-width: 78px;
          margin: 0 10px 0 0;
        }

        span {
          font-weight: bold;
        }
      }
    }

    .increase_price-info {
      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          color: red;
          font-size: 35px;
          font-weight: bold;
        }

        p {
          color: #666666;
          text-decoration: line-through;
          font-size: 25px;
        }

        span {
          color: #134032;
          font-weight: bold;
          font-size: 25px;
        }
      }

      .increase_price-info-wrapper {
        .increase_price-info-item {
          display: flex;
          margin: 45px 0;

          img {
            max-height: 53px;
            margin: 0 5px 0 0;
          }

          span {
            font-weight: bold;
          }
        }
      }
    }

    .form {
      border: 1px solid #bbbbbb;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      margin: 50px 0;

      hr {
        width: 100%;
        height: 5px;
        background: #134032;
      }

      .part-line {
        display: flex;
        height: 80px;

        .part {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;

          h5 {
            font-size: 18px;
            font-weight: bold;
          }

          span {
            padding: 20px;
            font-size: 30px;
            font-weight: bold;
            color: #134032;
          }
        }
      }

      h3 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        background: #efefef;
        border-bottom: 1px solid #bbbbbb;
        padding: 30px 0;

        span {
          color: #134032;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

        input {
          width: 80%;
          background: #efefef;
          border: 1px solid #bbbbbb;
          padding: 15px;
          border-radius: 30px;
          margin: 10px auto;

          &[type='submit'] {
            border: 2px solid #134032;
            color: #134032;
            font-weight: bold;
            font-size: 18px;
          }
        }

        p {
          font-size: 14px;
          text-align: center;
          color: #bbbbbb;
          max-width: 90%;
          margin: 0 auto;
        }
      }
    }
  }

  section#question_and_answer {
    .container {
      .question {
        border: 1px solid #bbbbbb;
        padding: 20px 30px;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        }
      }

      .answer {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  section#gallarey {
    .gallarey-wrapper {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 25%;
      }
    }

    p {
      text-align: center;
      color: #184a00;
      font-weight: bold;
      font-size: 18px;
      margin: 15px 0;
      text-decoration: underline;
    }
  }
}

main.second-page-order {
  section#main {
    min-height: 70vh;
    background: url('../images/bg-folder/bg-main-second-order.png') no-repeat
      center top/cover;
  }

  section#detail-order {
    .container {
      display: flex;

      .image-gallarey {
        .images {
          display: flex;
        }
      }

      .order-addition {
        .order-addition-item {
          margin: 30px 0;

          &:first-child {
            background: url('../images/bg-folder/bg-dog-addition.png') no-repeat
              center top/cover;
          }

          &:last-child {
            background: url('../images/bg-folder/bg-dog-addition-two.png')
              no-repeat center top/cover;
          }
        }
      }

      .price {
        display: flex;
      }

      .color {
        display: flex;

        .color-items-wrapper {
          display: flex;
        }
      }

      .size {
        display: flex;
      }

      .number {
        display: flex;
      }

      .grouz {
        .top-info {
          display: flex;

          .grouz-wrapper {
            display: flex;
          }
        }
      }

      .breed-dog {
        display: flex;
      }

      .country {
        display: flex;
      }

      .card-info {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin: 20px 0;

        .card-info-header {
          display: flex;
        }
      }
    }
  }
}

main.thank-page {
  min-height: 90vh;
  background: url('../images/bg-folder/bg-main_section-thank-page.png')
    no-repeat center top/cover;
}

footer {
  background: #f3f3f3;
  padding: 10px 0;

  .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 425px) {
      flex-direction: column;
      align-items: center;
    }

    .visa-card {
      display: flex;

      @media (max-width: 425px) {
        padding: 10px 0;
      }
    }
  }
}
