@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.2;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: #000; }

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto; }

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: inherit; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

button {
  padding: 0;
  outline: none;
  background: none;
  border: none; }

input:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal; }

img {
  display: block;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
li,
input,
label,
span,
* {
  font-family: "Montserrat", sans-serif; }

section {
  padding: 50px 0; }

header .top_bar {
  background: url("../images/bg-folder/bg-top_bar.png") no-repeat center top/cover;
  color: #fff;
  min-height: 100px;
  padding: 10px 0; }
  @media (max-width: 425px) {
    header .top_bar {
      background: url("../images/bg-folder/mobile-bg-top_bar.png") no-repeat center top/cover; } }
  header .top_bar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 425px) {
      header .top_bar .container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    header .top_bar .container h2 {
      font-size: 25px;
      max-width: 470px; }
      @media (max-width: 425px) {
        header .top_bar .container h2 {
          font-size: 15px;
          text-align: center;
          max-width: 65%; } }
      header .top_bar .container h2 span {
        font-weight: bold; }
        header .top_bar .container h2 span:first-child {
          background: #134032;
          font-size: 29px; }
          @media (max-width: 425px) {
            header .top_bar .container h2 span:first-child {
              font-size: 16px; } }
    header .top_bar .container .timer {
      background: url("../images/bg-folder/timer-background.png") no-repeat center top/cover;
      width: 266px;
      height: 84px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 0 0 65px;
      text-align: center;
      margin: 10px 0px; }
      header .top_bar .container .timer .timer-item {
        margin-right: 30px; }
      header .top_bar .container .timer p {
        color: #134032;
        font-weight: bold;
        font-size: 24px; }
      header .top_bar .container .timer span {
        font-size: 12px;
        font-weight: normal;
        color: #000; }
    header .top_bar .container img {
      margin: 0 20px; }
      @media (max-width: 425px) {
        header .top_bar .container img {
          display: none; } }
    header .top_bar .container a .btn {
      background: #327461;
      background: -webkit-gradient(linear, left top, left bottom, from(#327461), to(#172e2d));
      background: -webkit-linear-gradient(top, #327461 0%, #172e2d 100%);
      background: -o-linear-gradient(top, #327461 0%, #172e2d 100%);
      background: linear-gradient(180deg, #327461 0%, #172e2d 100%);
      padding: 24px 40px;
      border-radius: 50px;
      font-weight: bold;
      font-weight: 18px;
      text-transform: uppercase;
      -webkit-box-shadow: -1px 44px 20px -27px #17332d;
      -moz-box-shadow: -1px 44px 20px -27px #17332d;
      box-shadow: -1px 44px 20px -27px #17332d; }
      @media (max-width: 425px) {
        header .top_bar .container a .btn {
          padding: 14px 20px; } }

main.index section#main {
  background: url("../images/bg-folder/bg-main_section.png") no-repeat center top/cover;
  min-height: 850px; }
  @media (max-width: 425px) {
    main.index section#main {
      background: url("../images/bg-folder/mobile-bg-main_section.png") no-repeat center top/cover;
      text-align: center; } }
  main.index section#main .logo {
    margin: 0 0 55px 0; }
  @media (max-width: 425px) {
    main.index section#main img {
      margin: 0 auto; } }
  main.index section#main .info_country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px; }
    @media (max-width: 425px) {
      main.index section#main .info_country {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
    main.index section#main .info_country p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 5px; }
      @media (max-width: 425px) {
        main.index section#main .info_country p {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    main.index section#main .info_country .black-bg {
      padding: 5px;
      background: #000;
      color: #fff;
      text-transform: uppercase; }
      @media (max-width: 425px) {
        main.index section#main .info_country .black-bg {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
  main.index section#main h1 {
    font-size: 45px;
    max-width: 750px;
    font-weight: bold;
    padding: 15px 0; }
    @media (max-width: 425px) {
      main.index section#main h1 {
        font-size: 24px; } }
    main.index section#main h1 span {
      color: #134032; }
  main.index section#main p {
    font-size: 20px;
    max-width: 750px; }
    @media (max-width: 425px) {
      main.index section#main p {
        font-size: 15px; } }
    main.index section#main p span {
      font-weight: bold; }
  main.index section#main .watch_video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 45px 0; }
    main.index section#main .watch_video p {
      margin: 0 15px;
      text-decoration: underline; }
      @media (max-width: 425px) {
        main.index section#main .watch_video p {
          display: none; } }
      main.index section#main .watch_video p span {
        font-weight: bold; }

main.index section#advantages .advantages_name-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 35px 0; }
  @media (max-width: 425px) {
    main.index section#advantages .advantages_name-wrapper .container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  main.index section#advantages .advantages_name-wrapper .container .advantages-item {
    border: 1px solid #bbbbbb;
    padding: 25px;
    margin: 0 10px;
    width: 23%; }
    main.index section#advantages .advantages_name-wrapper .container .advantages-item:hover {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }
    main.index section#advantages .advantages_name-wrapper .container .advantages-item.active {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }
    @media (max-width: 425px) {
      main.index section#advantages .advantages_name-wrapper .container .advantages-item {
        width: 45%;
        margin: 15px 0; } }
    main.index section#advantages .advantages_name-wrapper .container .advantages-item p {
      font-size: 22px;
      font-weight: bold; }
      @media (max-width: 425px) {
        main.index section#advantages .advantages_name-wrapper .container .advantages-item p {
          font-size: 14px; } }
      main.index section#advantages .advantages_name-wrapper .container .advantages-item p span {
        color: #134032; }

main.index section#advantages .advantages_info-wrapper {
  background: url("../images/bg-folder/bg-thith-section-1.png") no-repeat center top/cover;
  min-height: 630px;
  padding: 65px 0; }
  @media (max-width: 425px) {
    main.index section#advantages .advantages_info-wrapper {
      background: url("../images/bg-folder/mobile-bg-thith-section-1.png") no-repeat center top/cover;
      padding: 0; } }
  main.index section#advantages .advantages_info-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    main.index section#advantages .advantages_info-wrapper .container .advantages_info-item {
      width: 50%;
      display: none; }
      main.index section#advantages .advantages_info-wrapper .container .advantages_info-item.active {
        display: block; }
      @media (max-width: 425px) {
        main.index section#advantages .advantages_info-wrapper .container .advantages_info-item {
          width: 100%; } }
      main.index section#advantages .advantages_info-wrapper .container .advantages_info-item h3 {
        font-size: 35px;
        font-weight: bold; }
        @media (max-width: 425px) {
          main.index section#advantages .advantages_info-wrapper .container .advantages_info-item h3 {
            font-size: 20px; } }
        main.index section#advantages .advantages_info-wrapper .container .advantages_info-item h3 span {
          color: #134032; }
      @media (max-width: 425px) {
        main.index section#advantages .advantages_info-wrapper .container .advantages_info-item p {
          font-size: 14px; } }
      main.index section#advantages .advantages_info-wrapper .container .advantages_info-item p span {
        font-weight: bold; }
      main.index section#advantages .advantages_info-wrapper .container .advantages_info-item .detail_info-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        main.index section#advantages .advantages_info-wrapper .container .advantages_info-item .detail_info-wrapper .detail_info-item {
          max-width: 50%;
          margin: 15px 0; }
          main.index section#advantages .advantages_info-wrapper .container .advantages_info-item .detail_info-wrapper .detail_info-item img {
            margin: 5px 0; }

main.index section#how_it_work h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold; }
  @media (max-width: 425px) {
    main.index section#how_it_work h2 {
      font-size: 25px; } }
  main.index section#how_it_work h2 span {
    color: #134032; }

main.index section#how_it_work .work_select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 50px 0; }
  @media (max-width: 425px) {
    main.index section#how_it_work .work_select-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  main.index section#how_it_work .work_select-wrapper .work_select-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #bbbbbb;
    padding: 3px 140px;
    width: 50%; }
    main.index section#how_it_work .work_select-wrapper .work_select-item:hover {
      box-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }
    main.index section#how_it_work .work_select-wrapper .work_select-item.active {
      box-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }
    @media (max-width: 425px) {
      main.index section#how_it_work .work_select-wrapper .work_select-item {
        padding: 10px;
        width: 80%; } }
    main.index section#how_it_work .work_select-wrapper .work_select-item img {
      margin: 0 15px 0 auto; }
      @media (max-width: 425px) {
        main.index section#how_it_work .work_select-wrapper .work_select-item img {
          margin: 0 10px 0 0; } }

main.index section#how_it_work .work_select_info-wrapper .work_select_info-item {
  display: none; }
  main.index section#how_it_work .work_select_info-wrapper .work_select_info-item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:first-child .part {
    min-height: 382px; }
    main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:first-child .part:first-child {
      width: 50%; }
      @media (max-width: 425px) {
        main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:first-child .part:first-child {
          width: 100%; } }
    main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:first-child .part:first-child img {
      height: 382px; }
    @media (max-width: 425px) {
      main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:first-child .part:first-child {
        display: none; } }
  main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:last-child .part:first-child {
    width: 220%;
    padding: 30px; }
    @media (max-width: 425px) {
      main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:last-child .part:first-child {
        width: 100%; } }
    @media (max-width: 425px) {
      main.index section#how_it_work .work_select_info-wrapper .work_select_info-item:last-child .part:first-child {
        display: none; } }
  main.index section#how_it_work .work_select_info-wrapper .work_select_info-item h3 {
    font-size: 35px;
    font-weight: bold; }
  main.index section#how_it_work .work_select_info-wrapper .work_select_info-item span {
    font-weight: bold; }
  main.index section#how_it_work .work_select_info-wrapper .work_select_info-item .text_info {
    padding: 0 30px; }
    main.index section#how_it_work .work_select_info-wrapper .work_select_info-item .text_info p {
      padding: 5px 0; }
  main.index section#how_it_work .work_select_info-wrapper .work_select_info-item .video_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 425px) {
      main.index section#how_it_work .work_select_info-wrapper .work_select_info-item .video_info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    main.index section#how_it_work .work_select_info-wrapper .work_select_info-item .video_info img {
      margin-left: 30px; }
      @media (max-width: 425px) {
        main.index section#how_it_work .work_select_info-wrapper .work_select_info-item .video_info img {
          margin-left: 20px;
          margin-top: 10px; } }

main.index section#professional_response .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 425px) {
    main.index section#professional_response .container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  main.index section#professional_response .container .part-image {
    width: 350%; }
  main.index section#professional_response .container h3 {
    font-size: 35px;
    font-weight: bold; }
    @media (max-width: 425px) {
      main.index section#professional_response .container h3 {
        font-size: 20px; } }
  main.index section#professional_response .container .green-color {
    color: #134032;
    font-weight: bold; }
  main.index section#professional_response .container .vk-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main.index section#professional_response .container .vk-link img {
      margin: 0 5px 0 0; }
    main.index section#professional_response .container .vk-link p {
      text-decoration: underline; }
  main.index section#professional_response .container .message {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
    margin: 25px; }
    main.index section#professional_response .container .message span {
      font-weight: bold; }
  main.index section#professional_response .container .professional-video_response {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 25px; }
    @media (max-width: 425px) {
      main.index section#professional_response .container .professional-video_response {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    main.index section#professional_response .container .professional-video_response img {
      margin: 0 10px 0 0; }
      @media (max-width: 425px) {
        main.index section#professional_response .container .professional-video_response img:nth-child(1) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#professional_response .container .professional-video_response img:nth-child(2) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#professional_response .container .professional-video_response img:nth-child(3) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#professional_response .container .professional-video_response img:nth-child(4) {
          display: block;
          width: 100%; } }

main.index section#strong_and_durable {
  background: #fbfbfb; }
  main.index section#strong_and_durable .container {
    padding: 100px 0; }
    @media (max-width: 425px) {
      main.index section#strong_and_durable .container {
        padding: 30px 0; } }
    main.index section#strong_and_durable .container .strong_and_durable-heading {
      text-align: center; }
      main.index section#strong_and_durable .container .strong_and_durable-heading .country_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        main.index section#strong_and_durable .container .strong_and_durable-heading .country_wrapper p {
          font-size: 18px; }
      main.index section#strong_and_durable .container .strong_and_durable-heading h2 {
        font-size: 50px;
        font-weight: bold; }
        @media (max-width: 425px) {
          main.index section#strong_and_durable .container .strong_and_durable-heading h2 {
            font-size: 25px; } }
        main.index section#strong_and_durable .container .strong_and_durable-heading h2 span {
          color: #134032; }
      main.index section#strong_and_durable .container .strong_and_durable-heading .strong-center-p {
        margin: 0 auto; }
      main.index section#strong_and_durable .container .strong_and_durable-heading p {
        font-size: 25px;
        max-width: 650px; }
        @media (max-width: 425px) {
          main.index section#strong_and_durable .container .strong_and_durable-heading p {
            font-size: 14px; } }
        main.index section#strong_and_durable .container .strong_and_durable-heading p span {
          font-weight: bold; }
      main.index section#strong_and_durable .container .strong_and_durable-heading a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: underline;
        margin: 25px 0; }
        main.index section#strong_and_durable .container .strong_and_durable-heading a img {
          margin: 0 10px 0 0; }
    main.index section#strong_and_durable .container .zhilet-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 425px) {
        main.index section#strong_and_durable .container .zhilet-wrapper {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-item {
        width: 25%; }
        @media (max-width: 425px) {
          main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-item {
            display: none; } }
        main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-item span {
          font-weight: bold; }
        main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-item .zhilet-item-info:last-child {
          padding: 90px 0 0 0; }
        main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-item:first-child {
          text-align: right; }
          main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-item:first-child .zhilet-item-info img {
            margin-left: auto; }
      main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-img {
        width: 50%; }
        @media (max-width: 425px) {
          main.index section#strong_and_durable .container .zhilet-wrapper .zhilet-img {
            width: 90%;
            margin: 0 auto; } }
    main.index section#strong_and_durable .container .tissue-container {
      padding: 20px;
      margin: 50px 0;
      min-height: 332px;
      background: url("../images/bg-folder/bg-tissue.png") no-repeat center top/cover; }
      main.index section#strong_and_durable .container .tissue-container .tissue-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media (max-width: 425px) {
          main.index section#strong_and_durable .container .tissue-container .tissue-wrapper {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; } }
        main.index section#strong_and_durable .container .tissue-container .tissue-wrapper .tissue-item {
          width: 49%; }
          @media (max-width: 425px) {
            main.index section#strong_and_durable .container .tissue-container .tissue-wrapper .tissue-item {
              width: 100%;
              margin: 10px 0; } }
          main.index section#strong_and_durable .container .tissue-container .tissue-wrapper .tissue-item .tissue-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 18px; }
            main.index section#strong_and_durable .container .tissue-container .tissue-wrapper .tissue-item .tissue-info span {
              font-weight: bold; }
      main.index section#strong_and_durable .container .tissue-container .test-strength {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 18px;
        text-decoration: underline; }
        main.index section#strong_and_durable .container .tissue-container .test-strength p {
          margin: 0 0 0 15px;
          max-width: 330px; }

main.index section#comfortable_and_safe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main.index section#comfortable_and_safe .container h2 {
    font-size: 50px;
    font-weight: bold; }
    @media (max-width: 425px) {
      main.index section#comfortable_and_safe .container h2 {
        font-size: 25px; } }
    main.index section#comfortable_and_safe .container h2 span {
      color: #134032; }
  main.index section#comfortable_and_safe .container p {
    font-size: 18px; }
    @media (max-width: 425px) {
      main.index section#comfortable_and_safe .container p {
        font-size: 14px; } }
    main.index section#comfortable_and_safe .container p span {
      font-weight: bold; }
  main.index section#comfortable_and_safe .container .comfortable-advantages .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0; }
    main.index section#comfortable_and_safe .container .comfortable-advantages .advantages img {
      margin: 0 10px 0 0; }
  main.index section#comfortable_and_safe .container .safe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 425px) {
      main.index section#comfortable_and_safe .container .safe-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    main.index section#comfortable_and_safe .container .safe-wrapper .safe-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50%;
      margin: 15px 0; }
      main.index section#comfortable_and_safe .container .safe-wrapper .safe-item img {
        margin: 0 10px 0 0; }
  main.index section#comfortable_and_safe .container .comfortable-image {
    width: 110%;
    margin: auto; }
    @media (max-width: 425px) {
      main.index section#comfortable_and_safe .container .comfortable-image {
        position: absolute;
        z-index: -1;
        margin-top: 350px;
        right: 0;
        max-width: 250px; } }

main.index section#video_reports {
  background: #fbfbfb;
  padding: 50px 0; }
  main.index section#video_reports h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center; }
    @media (max-width: 425px) {
      main.index section#video_reports h2 {
        font-size: 25px; } }
    main.index section#video_reports h2 span {
      color: #134032; }
  main.index section#video_reports .video-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 425px) {
      main.index section#video_reports .video-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    main.index section#video_reports .video-wrapper img {
      width: 22%;
      margin: 15px 0; }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(1) {
          display: block;
          width: 90%; } }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(2) {
          display: block;
          width: 90%; } }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(3) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(4) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(5) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(6) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(7) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#video_reports .video-wrapper img:nth-child(8) {
          display: none; } }

main.index section#customer_reviews h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center; }
  @media (max-width: 425px) {
    main.index section#customer_reviews h2 {
      font-size: 25px; } }
  main.index section#customer_reviews h2 span {
    color: #134032; }

main.index section#customer_reviews a .btn {
  border: 1px solid #184a00;
  color: #184a00;
  padding: 17px 38px;
  border-radius: 50px;
  font-weight: bold;
  max-width: 190px;
  margin: 0 auto; }
  @media (max-width: 425px) {
    main.index section#customer_reviews a .btn {
      padding: 14px 20px; } }

main.index section#customer_reviews .clients_reviews-item {
  border: 1px solid #bbbbbb;
  padding: 25px;
  margin: 25px 0; }
  main.index section#customer_reviews .clients_reviews-item .clients-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main.index section#customer_reviews .clients_reviews-item .clients-name img {
      margin: 0 10px; }
    main.index section#customer_reviews .clients_reviews-item .clients-name .date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 0; }
  main.index section#customer_reviews .clients_reviews-item .clients-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0; }
    @media (max-width: 425px) {
      main.index section#customer_reviews .clients_reviews-item .clients-image {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    main.index section#customer_reviews .clients_reviews-item .clients-image img {
      margin: 0 5px; }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(1) {
          display: block;
          width: 90%; } }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(2) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(3) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(4) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(5) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(6) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(7) {
          display: none; } }
      @media (max-width: 425px) {
        main.index section#customer_reviews .clients_reviews-item .clients-image img:nth-child(8) {
          display: none; } }

main.index section#not_suitable h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center; }
  @media (max-width: 425px) {
    main.index section#not_suitable h2 {
      font-size: 25px; } }
  main.index section#not_suitable h2 span {
    color: #134032; }

main.index section#not_suitable p {
  padding: 15px 0; }
  main.index section#not_suitable p span {
    font-weight: bold; }

main.index section#not_suitable .not_suitable-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 425px) {
    main.index section#not_suitable .not_suitable-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  main.index section#not_suitable .not_suitable-wrapper .not_suitable-item {
    max-width: 30%;
    margin: 1%;
    text-align: center; }
    @media (max-width: 425px) {
      main.index section#not_suitable .not_suitable-wrapper .not_suitable-item {
        max-width: 90%; } }

main.index section#increase_price {
  background: #fbfbfb; }
  main.index section#increase_price h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 35px 0; }
    @media (max-width: 425px) {
      main.index section#increase_price h2 {
        font-size: 25px; } }
    main.index section#increase_price h2 span {
      color: #134032; }
  main.index section#increase_price .increase_price-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 425px) {
      main.index section#increase_price .increase_price-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    main.index section#increase_price .increase_price-wrapper .part {
      max-width: 48%; }
      @media (max-width: 425px) {
        main.index section#increase_price .increase_price-wrapper .part {
          max-width: 90%; } }
    main.index section#increase_price .increase_price-wrapper .increase_price-image .top-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      main.index section#increase_price .increase_price-wrapper .increase_price-image .top-wrapper .top {
        margin: 0 8px; }
        main.index section#increase_price .increase_price-wrapper .increase_price-image .top-wrapper .top img {
          margin: 16px 0; }
    main.index section#increase_price .increase_price-wrapper .increase_price-image .bottom {
      margin: 10px 0 0 78px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 425px) {
        main.index section#increase_price .increase_price-wrapper .increase_price-image .bottom {
          display: none; } }
      main.index section#increase_price .increase_price-wrapper .increase_price-image .bottom img {
        margin: 0 5px; }
    main.index section#increase_price .increase_price-wrapper .increase-timer h3 {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin: 35px 0 0 0; }
      main.index section#increase_price .increase_price-wrapper .increase-timer h3 span {
        color: #134032; }
    main.index section#increase_price .increase_price-wrapper .increase-timer .timer-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 25px 0; }
      main.index section#increase_price .increase_price-wrapper .increase-timer .timer-wrapper .timer-item {
        padding: 15px 0;
        width: 15%;
        border: 1px solid #bbbbbb; }
        @media (max-width: 425px) {
          main.index section#increase_price .increase_price-wrapper .increase-timer .timer-wrapper .timer-item {
            width: 20%; } }
        main.index section#increase_price .increase_price-wrapper .increase-timer .timer-wrapper .timer-item p {
          font-weight: bold;
          font-size: 30px; }
          main.index section#increase_price .increase_price-wrapper .increase-timer .timer-wrapper .timer-item p span {
            font-weight: normal;
            font-size: 16px; }
  main.index section#increase_price .delivery-info-wrapper .delivery-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0; }
    main.index section#increase_price .delivery-info-wrapper .delivery-info-item h4 {
      font-size: 25px;
      font-weight: bold;
      color: #134032;
      padding: 5px 0; }
    main.index section#increase_price .delivery-info-wrapper .delivery-info-item img {
      min-width: 78px;
      margin: 0 10px 0 0; }
    main.index section#increase_price .delivery-info-wrapper .delivery-info-item span {
      font-weight: bold; }
  main.index section#increase_price .increase_price-info .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    main.index section#increase_price .increase_price-info .price h3 {
      color: red;
      font-size: 35px;
      font-weight: bold; }
    main.index section#increase_price .increase_price-info .price p {
      color: #666666;
      text-decoration: line-through;
      font-size: 25px; }
    main.index section#increase_price .increase_price-info .price span {
      color: #134032;
      font-weight: bold;
      font-size: 25px; }
  main.index section#increase_price .increase_price-info .increase_price-info-wrapper .increase_price-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 45px 0; }
    main.index section#increase_price .increase_price-info .increase_price-info-wrapper .increase_price-info-item img {
      max-height: 53px;
      margin: 0 5px 0 0; }
    main.index section#increase_price .increase_price-info .increase_price-info-wrapper .increase_price-info-item span {
      font-weight: bold; }
  main.index section#increase_price .form {
    border: 1px solid #bbbbbb;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    margin: 50px 0; }
    main.index section#increase_price .form hr {
      width: 100%;
      height: 5px;
      background: #134032; }
    main.index section#increase_price .form .part-line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 80px; }
      main.index section#increase_price .form .part-line .part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 50%; }
        main.index section#increase_price .form .part-line .part h5 {
          font-size: 18px;
          font-weight: bold; }
        main.index section#increase_price .form .part-line .part span {
          padding: 20px;
          font-size: 30px;
          font-weight: bold;
          color: #134032; }
    main.index section#increase_price .form h3 {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      background: #efefef;
      border-bottom: 1px solid #bbbbbb;
      padding: 30px 0; }
      main.index section#increase_price .form h3 span {
        color: #134032; }
    main.index section#increase_price .form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 20px 0; }
      main.index section#increase_price .form form input {
        width: 80%;
        background: #efefef;
        border: 1px solid #bbbbbb;
        padding: 15px;
        border-radius: 30px;
        margin: 10px auto; }
        main.index section#increase_price .form form input[type='submit'] {
          border: 2px solid #134032;
          color: #134032;
          font-weight: bold;
          font-size: 18px; }
      main.index section#increase_price .form form p {
        font-size: 14px;
        text-align: center;
        color: #bbbbbb;
        max-width: 90%;
        margin: 0 auto; }

main.index section#question_and_answer .container .question {
  border: 1px solid #bbbbbb;
  padding: 20px 30px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  main.index section#question_and_answer .container .question:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }

main.index section#question_and_answer .container .answer {
  display: none; }
  main.index section#question_and_answer .container .answer.active {
    display: block; }

main.index section#gallarey .gallarey-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  main.index section#gallarey .gallarey-wrapper img {
    width: 25%; }

main.index section#gallarey p {
  text-align: center;
  color: #184a00;
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
  text-decoration: underline; }

main.second-page-order section#main {
  min-height: 70vh;
  background: url("../images/bg-folder/bg-main-second-order.png") no-repeat center top/cover; }

main.second-page-order section#detail-order .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main.second-page-order section#detail-order .container .image-gallarey .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.second-page-order section#detail-order .container .order-addition .order-addition-item {
    margin: 30px 0; }
    main.second-page-order section#detail-order .container .order-addition .order-addition-item:first-child {
      background: url("../images/bg-folder/bg-dog-addition.png") no-repeat center top/cover; }
    main.second-page-order section#detail-order .container .order-addition .order-addition-item:last-child {
      background: url("../images/bg-folder/bg-dog-addition-two.png") no-repeat center top/cover; }
  main.second-page-order section#detail-order .container .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.second-page-order section#detail-order .container .color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    main.second-page-order section#detail-order .container .color .color-items-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  main.second-page-order section#detail-order .container .size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.second-page-order section#detail-order .container .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.second-page-order section#detail-order .container .grouz .top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    main.second-page-order section#detail-order .container .grouz .top-info .grouz-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  main.second-page-order section#detail-order .container .breed-dog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.second-page-order section#detail-order .container .country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  main.second-page-order section#detail-order .container .card-info {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 20px 0; }
    main.second-page-order section#detail-order .container .card-info .card-info-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

main.thank-page {
  min-height: 90vh;
  background: url("../images/bg-folder/bg-main_section-thank-page.png") no-repeat center top/cover; }

footer {
  background: #f3f3f3;
  padding: 10px 0; }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 425px) {
      footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    footer .container .visa-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 425px) {
        footer .container .visa-card {
          padding: 10px 0; } }
