@import 'add-ons/_variables';
@import 'add-ons/_standart';
@import 'add-ons/_fonts';

// CONTENT OTHER | BODY | HEADER | MAIN | FOOTER

.phrase {
  p {
    color: #b5b5b5;
    font-size: 12px;
  }

  @media (max-width: 1600px) {
    display: none !important;
  }
}

.absolute-phrase {
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  position: absolute;
  top: 45%;

  &__left {
    transform: rotate(180deg);
  }

  &:first-child {
    left: 7%;
  }

  &:last-child {
    right: 7%;
  }
}

body {
  background: #0e0b2b;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh !important;
  overflow-y: hidden;

  @media (max-width: 600px) {
    height: 92vh !important;
  }
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 4% 12% 0;

    .logo {
      @media (max-width: 600px) {
        font-size: 12px;
      }
    }

    .toggle-button {
      position: absolute;
      right: 6%;
      top: 2%;
      width: 30px;
      z-index: 36;

      @media (min-width: 600px) {
        display: none;
      }

      .slise {
        height: 2px;
        width: 25px;
        margin: 5px 0;
        background: #fff;
        transition: all 0.5s ease-out;

        &.active {
          &:nth-child(1) {
            transform: translateY(14px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateX(20px);
            transform: rotate(-45deg);
          }
        }
      }
    }

    @media (max-width: 1600px) {
      padding: 5% 5% 0;
    }

    .navigation {
      width: 20%;

      @media (max-width: 1600px) {
        width: 40%;
      }

      @media (max-width: 1600px) {
        width: 60%;
      }

      @media (max-width: 600px) {
        height: 100vh;
        width: 100vw;
        background: #000;
        position: absolute;
        top: -110%;
        left: 0;
        transition: all 0.5s ease-out;
        z-index: 35;
        padding: 80px 30px;

        &.active {
          top: 0%;
        }
      }

      .links {
        z-index: 1005;
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
          flex-direction: column;
          line-height: 45px;
          font-size: 35px;
        }

        li {
          &:hover {
            color: red !important;
          }

          a {
            display: flex;
            justify-content: flex-end;

            &:hover > p {
              color: red !important;
              transform: translate(10px, 0px);
              transition: ease 0.5s;
            }

            &:hover > span {
              color: red !important;
              transform: translate(10px, 0px);
              transition: ease 0.5s;
            }

            span {
              font-size: 12px;
              color: #b5b5b5;
              position: absolute;
              margin-left: 12px;
              margin-top: -5px;

              @media (max-width: 600px) {
                font-size: 8px;
              }
            }
          }
        }
      }
    }

    .part-menu {
      display: flex;
      align-items: flex-end;
      width: 30%;
      justify-content: space-between;

      @media (max-width: 1600px) {
        width: 50%;
      }
    }

    ul {
      display: flex;
    }
  }
}

main {
  section {
    .container {
      display: flex;
      padding: 0 0 0 25%;
      align-items: center;
      justify-content: center;

      .round {
        background: #fff;
        height: 5px;
        width: 5px;
        margin: 0 5px;
        border-radius: 100%;

        @media (max-width: 600px) {
          width: 3px;
          height: 3px;
        }
      }

      .content {
        max-height: 50vh;
        max-width: 75%;
        overflow-x: hidden;

        .slide {
          img {
            max-width: 75%;
            max-height: 45vh;
          }
        }

        section {
          min-height: 60vh;
        }
      }

      h1 {
        font-size: 144px;
        line-height: 170px;

        span {
          font-size: 18px;
          margin-left: -45px;
          margin-top: -65px;
          position: absolute;
        }
      }
    }
  }
}

footer {
  .contact {
    display: flex;
    align-items: center;
    padding: 0 10%;

    @media (max-width: 600px) {
      padding: 0;
    }

    a {
      width: 10%;
      text-decoration: underline;

      @media (max-width: 1340px) {
        width: 20%;
      }

      @media (max-width: 1000px) {
        width: 30%;
        font-size: 14px;
      }

      @media (max-width: 600px) {
        font-size: 10px;
      }

      @media (max-width: 400px) {
        width: 50%;
      }

      &:hover {
        color: red;
        transform: translate(10px, 0px);
      }
    }

    .email {
      display: flex;
      justify-content: flex-end;
    }

    .hr-wrapper {
      width: 90%;
      padding: 50px 100px;

      @media (max-width: 1600px) {
        padding: 50px 100px 50px 130px;
      }

      @media (max-width: 600px) {
        padding: 8px 0px 7px 80px;
      }

      hr {
        background: #ffffff;
        height: 2px;
        border: none;
      }
    }

    .round-wrapper {
      display: flex;

      .round {
        background: #ffffff;
        height: 5px;
        width: 5px;
        margin: 0 5px;
        border-radius: 100%;
      }
    }
  }
}

// END OTHER | CONTENT BODY | HEADER | MAIN | FOOTER

// SLIDER CONTENT
.slider {
  .wfifty {
    width: 50% !important;
  }

  &__text {
    position: absolute;
    left: 25vw;
    top: 16vw;
    z-index: 10;
    color: #fff;
    overflow: hidden;

    @media (max-width: 1340px) {
      left: 20vw;
    }

    @media (max-width: 600px) {
      left: 12vw;
    }

    @media (max-width: 400px) {
      left: 4vw;
      top: 50vw;
    }

    h2 {
      margin: 0 0 0 70px;
      font-size: 8rem;

      @media (max-width: 1000px) {
        font-size: 6rem;
      }

      @media (max-width: 800px) {
        font-size: 4rem;
      }

      @media (max-width: 600px) {
        font-size: 3.8rem;
      }
    }

    h3 {
      font-size: 8rem;
      margin: 0 0 0 110px;

      @media (max-width: 1000px) {
        font-size: 6rem;
      }

      @media (max-width: 800px) {
        font-size: 4rem;
      }

      @media (max-width: 600px) {
        font-size: 2.7rem;
      }
    }

    span {
      font-size: 24px;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }

    p {
      font-size: 54px;
      line-height: 80px;
      margin: 0 0 0 120px;

      @media (max-width: 1340px) {
        font-size: 44px;
        line-height: 54px;
      }

      @media (max-width: 1340px) {
        font-size: 34px;
        line-height: 44px;
      }

      @media (max-width: 600px) {
        font-size: 24px;
        line-height: 34px;
      }

      @media (max-width: 600px) {
        font-size: 22px;
        line-height: 30px;
      }

      &.small {
        font-size: 14px;
        line-height: 15px;
        padding: 0 5px;
      }

      &.grey {
        color: grey;
      }
    }

    a {
      font-size: 74px;
      line-height: 94px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;

      p {
        font-size: 74px;
        line-height: 124px;
        border-bottom: 1px solid transparent;
        transition: ease-out 0.2s;

        @media (max-width: 600px) {
          font-size: 3rem;
          line-height: 3rem;
        }
      }

      &:hover > p {
        border-bottom: 1px solid #fff;
      }

      img {
        height: 64px;
        color: #fff;
      }
    }

    .content-flex {
      display: flex;
      justify-content: space-between;
      max-width: 75%;
      padding: 30px 0;

      .part {
        display: flex;
      }
    }

    .gallarey {
      position: absolute;
      left: calc(5rem + 3vw);
      top: calc(3rem + 3vw);
      z-index: 10001;
      line-height: 1.075;
      color: #fff;
      font-size: 94px;
      text-align: center;
      border-bottom: 1px solid transparent;
      transition: ease-out 0.2s;

      @media (max-width: 600px) {
        font-size: 3rem;
      }

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }

    .gallarey-wrapper {
      display: flex;
      justify-content: center;
    }

    &-line {
      overflow: hidden;
    }
  }

  &__nav {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 0px;
    z-index: 10;

    @media (max-width: 600px) {
      left: 10px;
    }
  }

  .bullet-item {
    -webkit-writing-mode: vertical-rl;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin-top: -80px;
    margin-left: -18px;
    color: transparent;
    font-size: 0px;
  }

  &-bullet {
    display: flex;
    align-items: center;
    padding: 60px 0;
    width: 15px;

    @media (max-width: 600px) {
      padding: 15px 0;
      width: 8px;
    }

    &:hover > .bullet-item {
      font-size: 12px;
      color: #fff;
      transition: ease 0.5s;
    }

    &__text {
      color: #fff;
      font-size: 0.65rem;
    }

    &__line {
      background-color: transparent;
      height: 1px;
      width: 1rem;
    }
  }
}
// END SLIDER CONTENT

// TWO SLIDER CONTENT
.slider_Two {
  .wfifty {
    width: 50% !important;
  }

  &__text {
    position: absolute;
    left: 25vw;
    bottom: -150vw;
    z-index: 10;
    color: #fff;
    overflow: hidden;

    @media (max-width: 1340px) {
      left: 20vw;
    }

    @media (max-width: 600px) {
      left: 12vw;
    }

    @media (max-width: 400px) {
      left: 4vw;
    }

    h2 {
      font-size: 5rem;
      margin: 0 0 0 70px;

      @media (max-width: 1000px) {
        font-size: 4rem;
      }

      @media (max-width: 800px) {
        font-size: 4rem;
      }

      @media (max-width: 600px) {
        font-size: 2.7rem;
      }
    }

    span {
      font-size: 24px;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }

    p {
      font-size: 34px;
      line-height: 40px;
      margin: 0 0 0 120px;

      @media (max-width: 1340px) {
        font-size: 44px;
        line-height: 54px;
      }

      @media (max-width: 1340px) {
        font-size: 34px;
        line-height: 44px;
      }

      @media (max-width: 600px) {
        font-size: 24px;
        line-height: 34px;
      }

      @media (max-width: 600px) {
        font-size: 20px;
        line-height: 30px;
      }

      &.small {
        font-size: 14px;
        line-height: 15px;
        padding: 0 5px;
      }

      &.grey {
        color: grey;
      }
    }

    a {
      font-size: 74px;
      line-height: 94px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;

      p {
        font-size: 74px;
        line-height: 124px;
        border-bottom: 1px solid transparent;
        transition: ease-out 0.2s;

        @media (max-width: 600px) {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      &:hover > p {
        border-bottom: 1px solid #fff;
      }

      img {
        height: 64px;
        color: #fff;
      }
    }

    .content-flex {
      display: flex;
      justify-content: space-between;
      max-width: 75%;
      padding: 30px 0;

      .part {
        display: flex;
      }
    }

    .gallarey {
      position: absolute;
      left: calc(5rem + 3vw);
      top: calc(3rem + 3vw);
      z-index: 10001;
      line-height: 1.075;
      color: #fff;
      font-size: 94px;
      text-align: center;
      border-bottom: 1px solid transparent;
      transition: ease-out 0.2s;

      @media (max-width: 600px) {
        font-size: 3rem;
      }

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }

    .gallarey-wrapper {
      display: flex;
      justify-content: center;
    }

    &-line {
      overflow: hidden;
    }
  }

  &__nav {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: -50vw;
    z-index: 10;

    @media (max-width: 600px) {
      left: 10px;
    }
  }

  .bullet-item {
    -webkit-writing-mode: vertical-rl;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin-top: -80px;
    margin-left: -18px;
    color: transparent;
    font-size: 0px;
  }

  &-bullet {
    display: flex;
    align-items: center;
    padding: 60px 0;
    width: 15px;

    @media (max-width: 600px) {
      padding: 15px 0;
      width: 8px;
    }

    &:hover > .bullet-item {
      font-size: 12px;
      color: #fff;
      transition: ease 0.5s;
    }

    &__text {
      color: #fff;
      font-size: 0.65rem;
    }

    &__line {
      background-color: transparent;
      height: 1px;
      width: 1rem;
    }
  }
}
// END SLIDER CONTENT

// CURSOR
.cursor {
  position: fixed;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);

  @media (max-width: 800px) {
    display: none !important;
  }

  &.active {
    opacity: 1;
    transform: scale(0);
  }

  &.menu-active {
    opacity: 1;
    transform: scale(0);
  }

  &.hovered {
    opacity: 1;
  }
}

.cursor-follower {
  position: fixed;
  border: 1px solid red;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  z-index: 1;
  transition: 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    1s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
    1s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(0px, 0px);

  @media (max-width: 800px) {
    display: none !important;
  }

  p {
    color: red;
    margin-top: 40px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  &.active {
    opacity: 1;
    transform: scale(3);
  }

  &.menu-active {
    opacity: 1;
    transform: scale(3);
  }

  &.hovered {
    opacity: 1;
  }
}
// END CURSOR SCRIPT

// PRELOADER
.box {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0a0a0a;
  z-index: 38;

  .percent-title {
    font-family: 'Gordita Bold';
    font-size: 18rem;
    position: absolute;
    left: 26vw;
    top: 18vw;
    z-index: 10;
    color: #fff;
    overflow: hidden;

    @media (max-width: 800px) {
      font-size: 6rem;
      left: 20vw;
      top: 46vw;
    }
  }

  .percent {
    font-family: 'Gordita Bold';
    font-size: 5rem;
    position: absolute;
    left: 50vw;
    top: 16vw;
    color: #fff;
    overflow: hidden;

    @media (max-width: 600px) {
      font-size: 1rem;
      top: 46vw;
      left: 70vw;
    }

    div {
      display: flex;
    }
  }
}
// END PRELOADER SCRIPT

.studio_nav {
  position: relative;
}

.slider {
  height: 50vh;
}

.slider-Two {
  bottom: -100vw;
}

.background-contact {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #363636;
  z-index: 0;
}
