/* Footer Part*/
footer{
  .footer-widget-area{
    &.bg-dark{
      a{
        color: $white;
        &:hover{
          color: $primary;
        }
      }
    }
    .footer-widget{
      .widget-title{
        @include media-breakpoint-down(sm){
          margin-bottom: 1.5rem!important;
        }
      }
      .widget-content{
        p{
          font-size: 1.6rem;
          line-height: 3rem;
          font-weight: 400;
        }
        ul{
          &.float-left{
            width: 50%;
            margin-top: -1rem;
          }
          li{
            a{
              font-size: 1.6rem;
              line-height: 3.6rem;
            }
          }
        }
        .media{
          .media-body{
            p{
              font-size: 1.8rem;
              margin-bottom: 0;
            }
            span{
              color: #949494;
            }
          }
        }
      }
    }
  }
  .footer-copyright{
    background-color: #121516;
    p{
      line-height: 5rem;
      font-size: 1.4rem;
      color: #949494;
    }
  }
}
