/* Icon Block Part*/
.icon-blocks{
  .row{
    &.pb-70{
      @include media-breakpoint-down(sm) {
        padding-bottom: 4rem !important;
      }
    }
  }
  .icon-block{
    p {
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: 700;
      @include media-breakpoint-up(lg) {
        padding: 0 3rem;
      }
    }
    .item-link{
      font-weight: 700;
      color: $primary;
      &:hover{
        i{
          left: 8px;
        }
      }
      i{
        font-weight: 700;
        font-size: 1.6rem;
        position: relative;
        top: 1.3px;
        left: 1px;
        @include transition($transition-base);
      }
    }
  }
  .card{
    &.bg-3{
      background-size: auto;
      background-position: bottom left;
      background-color: $body-color;
    }
    border-radius: .5rem;
    border-width: 0;
    .icon-block{
      p {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
  .row{
    &.mt-80{
      @include media-breakpoint-down(sm){
        margin-top: 4rem!important;
      }
    }
  }
}
