/* Work Process Part */
.work-process{
  .process-boxs{
    min-height: 33rem;
    .circle-box{
      padding-left: .9rem;
      @include media-breakpoint-down(lg){
        width: 25%;
        &:last-child{
          img{
            width: 60%;
          }
          h3{
            text-align: left!important;
            padding-left: 1rem;
          }
        }
      }
      @include media-breakpoint-only(md){
        &:last-child{
          img{
            width: auto;
          }
          margin-top: 3rem;
        }
      }
      @include media-breakpoint-down(md){
        width: 50%;
        &:first-child{
          h3{
            margin-top: .8rem!important;
          }
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
