* {
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed', sans-serif;
}

html {
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: #000;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  outline: none;
  background: none;
  border: none;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}






label {
  font-size: 18px;
}

input[type=checkbox], input[type=radio] {display: none;}

input[type=radio] + label:before {
    content: "";
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #000;
    font-size: 20px;    
    line-height: 20px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: all 0.3s; 
}

[type="radio"]:checked + label:before {
  background: #1858aa;
}

input[type=radio]:checked + label:before {
    font-size: 20px;    
}




input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #000;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #000;
}







select {
    display: block; 
    width: 100%;
    padding: .75rem 2.5rem .75rem 1rem;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;

    font-family: inherit;
    font-size: 1rem;
    color: #444;
}

select:focus {
    outline: 0;
    border-color: #0891e6;
}








.price-container {
  padding: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.25), 0 0 30px rgba(0,0,0,0.22);
}

.price-container h2 {
  padding-top: 10px;
}

.price-container p {
  font-size: 44px;
}



#main .hr_one {
  border: none;
  width: 150px;
  height: 2px;
  background: #0891e6;
}

.chexbox-container label hr {
  margin: 0;
  border: none;
  width: 150px;
  height: 2px;
  background: #0891e6;
}







.side-container {
  display: flex;
}

#main {
  height: 90vh;
}

#main #general {
  padding: 5px;
}

#main #text {
  padding: 5px 0;
}

#main h1 {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#main h1 img {
  width: 160px;
  margin: 0 auto;
}


.left_side {
  padding: 0 25px;
  width: 50%;
}

 
.filling,
.specific,
.checkboxes {
  padding: 10px;
}

.right_side {
  padding: 25px;
  width: 50%;
  text-align: center;
}

