@font-face{
font-family: 'Californian FB';
src: url('../fonts/CALIFB.eot');
src: url('../fonts/CALIFB.eot?iefix') format('eot'),
url('../fonts/CALIFB.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Century Schoolbook';
src: url('../fonts/CENSCBK.eot');
src: url('../fonts/CENSCBK.eot?iefix') format('eot'),
url('../fonts/CENSCBK.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'CORBEL';
src: url('../fonts/CORBEL.eot');
src: url('../fonts/CORBEL.eot?iefix') format('eot'),
url('../fonts/CORBEL.ttf') format('truetype'),
font-weight: normal;
font-style: normal;
}



* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Header */
#section_header {
  padding-top: 10px;
  height: 100vh;
  background: url(../images/background1a.png) no-repeat top 25vh left, url(../images/background1b.png) no-repeat bottom 70px right 10px;
  background-size: 30vh, 100vh;
}

nav {
  display: flex;
  padding-top: 2%;
}

.logo {
  display: flex;
  margin-left: 10%; 
  cursor: pointer;
}

.menu_item {
  display: flex;
  margin-left: 40%;
}

.menu_item li {
  list-style-type: none;
  margin-right: 70px;
}

.menu_item li a {
  font-size: 18px;
  font-family: 'Californian FB', sans-serif;
  text-decoration: none;
  color: #1b120f;
  transition: all 0.5s ease;
}

.menu_item li a:hover {
  color: #6bb346;
}

.main_title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Century Schoolbook', sans-serif;
}

.main_title h1 {
  font-size: 56px;
  color: #74b242;  
}

.main_title p {
  font-size: 35px;
}








/* Procent */
#section_procent {
  background: url(../images/background2.png) no-repeat center top / cover;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.procent_title h3 {
  color: #fff;
  font-size: 40px;
}

.procent_title h3 span {
  color: #74b242;  
}

.procent_buttom a {
  margin-left: 55px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'CORBEL', sans-serif;
  text-decoration: none;
  color: #fff;
  padding: 20px 44px;
  background: #77c84a; 
  transition: all 0.5s ease;
  border-radius: 150px;
}

.procent_buttom a:hover {
}









/* NEVO Ecosystem */
#section_aboutEco {
  background: url(../images/background3.png) no-repeat center top / cover;
}

#section_aboutEco h2 {
  margin-top: 55px;
  font-size: 60px;
  text-align: center;
}

.advantages {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 60px;
}

.supliers {
  padding: 40px;
  background: #fff;
  width: 500px;
}

.supliers h3 {
  font-size: 35px;
  color: #74b242;
  font-family: 'Californian FB', sans-serif;
}

.supliers p {
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Californian FB', sans-serif; 
}

.clients {
  padding: 40px;
  background: #fff;
  width: 500px;
  margin-left: 75px;
}

.clients h3 {
  font-size: 35px;
  color: #74b242;
  font-family: 'Californian FB', sans-serif;
}

.clients p {
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Californian FB', sans-serif; 
}








/* Company Sing up */
.section_sign-up {
  width: 100%;
}

.section_sign-up h2 {
  font-size: 60px;
  text-align: center;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  background:url(../images/background4.png) no-repeat;
  background-size: cover;
}

.section_sign-up h2 span {
  color: #74b242;
}


.sign-up_content {
  width: 62%;
  margin: 0 auto;
  display: flex;
  margin-top: -70px;
  background: #fff;
}

.sign-up_info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  width: 33.333333%;
}

.sign-up_info h3 {
  font-size: 40px;
  font-family: "Californian FB";
  color: #000;
  margin-bottom: 70px;
}

.sign-up_info span {
  color: #74b242;
}

.sign-up_info h6 {
  font-size: 20px;
  font-family: "Californian FB";
  color: #000;
  margin-bottom: 20px;
}

.sign-up_form {
  width: 66.666666%;
  min-height: 762px;
  background: url(../images/background5.png) no-repeat;
  background-size: cover;
}

.sign-up_item {
  margin-left: 15px;
  margin-right: 15px;
}

.sign-up_form label {
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: "Californian FB";
  padding-left: 20px;
  padding-bottom: 5px;
}

.sign-up_form input {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 15px;
  border-radius: 50px;
  outline: none;
  border: none;
}

.sign-up_form_container {
  background-color: rgba(36,36,48,0.8);
  padding: 100px 0;
  margin: 150px 40px 0 40px;
  height: 62%;
}

.sign-up_form_container form {
  display: flex;
}

.sign-up_list-left {
  width: 55%;
}

.sign-up_list-right {
  width: 45%;
  float: left;
}

.sign-up_form .sign-up_btn {
  padding: 15px 30px;
  width: auto;
  float: right;
  margin-top: 20px;
  background: #fff;
  font-size: 19px;
  font-family: "Californian FB";
  color: rgb(86, 146, 51);
}










/* Clean Europe */
#section_clean {
  padding-top: 55px;
  height: 100%;
  background:linear-gradient(#fff 50%, #ccc 80%);
  background-size: 148vh;
  padding-bottom: 50px;
}

#section_clean h2 {
  font-size: 60px;
  text-align: center;
  color: #000;
  margin-bottom: 45px;
}

#section_clean h2 span {
  color: #74b242;
}

.about_us {
  display: flex;
  justify-content: center;
}

.about_us_1 {
  height: 650px;
  width: 350px;
}

.title_about_us_1 {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.title_about_us_1 h3 {
  padding-left: 30px;
  font-size: 24px;
  font-family: 'Californian FB', sans-serif; 
}

.about_us_1 p {
  padding-top: 30px;
  font-size: 18px;
  font-family: 'Californian FB', sans-serif;
}

.about_us_2 {
  margin-left: 50px;
  height: 650px;
  width: 350px;
}

.title_about_us_2 {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.title_about_us_2 h3 {
  padding-left: 30px;
  font-size: 24px;
  font-family: 'Californian FB', sans-serif; 
}

.about_us_2 p {
  padding-top: 30px;
  font-size: 18px;
  font-family: 'Californian FB', sans-serif;
}

.about_us_3 {
  margin-left: 50px;
  height: 650px;
  width: 350px;
}

.title_about_us_3 {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.title_about_us_3 h3 {
  font-size: 24px;
  font-family: 'Californian FB', sans-serif; 
  padding-left: 30px;
}

.about_us_3 p {
  padding-top: 30px;
  font-size: 18px;
  font-family: 'Californian FB', sans-serif;
}








/*Slider*/
#section_slider {
  width: 100%;
  padding-bottom: 100px;
}

.slider_menu {
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  height: 119px;
  display: flex;
  width: 780px;
}

.tab1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  background: #fff;
  cursor: pointer;
}

.tab1 h3 {
  font-family: 'Californian FB', sans-serif;
  font-size: 30px;
}

.tab2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  margin-left: 2px;
  background: #66c339;
  cursor: pointer;
}

.tab2 h3 {
  font-family: 'Californian FB', sans-serif;
  font-size: 30px;
  color: #fff;
}

.tab3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  background: #66c339;
  margin-left: 2px;
  cursor: pointer;
}

.tab3 h3 {
  font-family: 'Californian FB', sans-serif;
  font-size: 30px;
  color: #fff;
}

.tab_content1 {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.tab_content1 h4 {
  font-family: 'Californian FB', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.tab_content1 p {
  font-family: 'Californian FB', sans-serif;
  font-size: 20px;
}

.tab_content2 {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.tab_content2 h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.tab_content3 {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.tab_content3 h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}









/* Footer */
#section_footer {
  height: 50vh;
  background: #22222e;
  position: relative;
}

.footer_header {
  margin-top: -0px;
  margin-left: auto;
  margin-right: auto;
  height: 119px;
  width: 1170px;
  display: flex;
}

.footer_header img {
  padding-bottom: 36px;
  padding-top: 36px;
  padding-right: 50px;
  padding-left: 50px;
  background: rgb(37,109,10);
  background: linear-gradient(90deg, rgba(37,109,10,1) 0%, rgba(91,164,54,1) 100%);
}

.footer_header h4 {
  width: 912px;
  font-size: 53px;
  font-family: 'Californian FB', sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 28px;
  background: rgb(37,109,10);
  background: linear-gradient(90deg, rgba(37,109,10,1) 0%, rgba(149,218,102,1) 33%);
  font-weight: bold;
}

.footer_header h4 span{
  color: #3c3d3a;
}

.footer_items {
  background: red;
  width: 560px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_info img {
  padding-top: 60px;
}

.footer_adress {
  color: #ababae;
}

.footer_telephones {
  color: #ababae;
}

.footer_rights {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.footer_rights span{
  color: #49842c;
}
