@media screen and (max-width: 1200px) {
	.footer_header, .tab_content, .clean_container {
		width: 90%;
	}
}

@media screen and (max-width: 992px) {
	.main_title {
		top: 32%;
	}
	.main_title h1 {
		font-size: 38px;
	}
	.main_title p {
		font-size: 22px;
	}
	.slider_menu {
		width: 90%;
		justify-content: center;
	}
	.tab {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media screen and (max-width: 768px) {
	.sign-up_content {
		 width: 100%;
	}
	#section_procent {
		height: auto;
		padding: 20px 0 50px 0;
		flex-direction: column;
	}
	.procent_buttom {
		margin: 35px 0 0 0;
	}
	.procent_buttom a {
		margin: 0;
	}
	.advantages {
		flex-direction: column;
	}
	.supliers {
		width: 95%;
    	margin: 0 auto 20px auto;
	}
	.clients {
	    width: 95%;
	    margin: 0 auto;
	}
	.section_sign-up h2 {
		padding-top: 70px;
		padding-bottom: 100px;
	}
	.about_us {
		flex-direction: column;
	}
	#section_clean {
		background: rgba(36,36,48, 0.1);
		margin-top: 20px;
	}
	.about_us_1, .about_us_2, .about_us_3 {
		width: 95%;
		margin: 0 auto;
	}
	.logo {
		display: none;
	}

	#section_header {
		background-size: 20vh, 70vh;
	}
}

@media screen and (max-width: 576px) {
	.sign-up_content {
		flex-direction: column;
	}
	.sign-up_info {
		width: 90%;
	}

	.sign-up_info  {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.sign-up_form {
		width: 100%;
	}

	.tab h3 {
		font-size: 14px;
	}

	.footer_header_logo {
		padding: 36px 20px;
	}

	.menu_item li {
		margin-right: 30px;
	}

	.menu_item li a{
		font-size: 14px;
	}

	.menu_item {
		margin-left: 7%;
	}

	#section_header {
		background-size: 0vh, 50vh;
	}

	.sign-up_list-left, .sign-up_list-right {
		width: 100%;
	}
	.footer_header_slogan h4 {
		font-size: 28px;
	}
	.main_title h1 {
		font-size: 26px;
	}
	.main_title p {
		font-size: 16px;
	}
	.main_title {
		left: 40%;
	}

	.userName_input {
 		margin-right: 20px;
	}
	.userName_input input {
    	padding: 16px 12px;
	}
	.userEmail_input {
 		margin-right: 0px;
	}
	.userEmail_input input {
    	padding: 16px 12px;
	}
	.userButtom_input input {
		padding: 10px 8px;
	}

	.sign-up_item {
		margin-right: 8px;
		margin-left: 8px;
	}

	.sign-up_form_container {
		margin-right: 10px;
		margin-left: 10px;
	}


}